{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/perdidas.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/perfil.css' %}">

<script src="https://kit.fontawesome.com/57b9ea98d3.js" crossorigin="anonymous"></script>





<div class="menu">
							
    <span class="fa-solid fa-filter"  id="filtrar"></span>


    

    <div id="filtros">


        <div id="btnFiltros" class="">
            <div class="btnFiltros" id="btnAplicar">
                <p>Aplicar</p>
            </div>
    
            <div class=" btnFiltros" id="btnLimpiar">
                <p>Limpiar</p>
            </div>
        </div>


    <div id="filtrosYsubfiltros">
    <div class="filtros-box" id="filtros-box">


        


         <div class="categoria-filtro" id="filtro-color">
            <i class="fa-solid fa-droplet"></i>
            <p>Color</p>
            
        </div>

        <div class="categoria-filtro" id="filtro-especie">
            <i class="fa-solid fa-shield-dog"></i>

            <p>Especie</p>
            
        </div>
        <div class="categoria-filtro" id="filtro-raza">
            <i class="fa-solid fa-paw"></i>
            <p>Raza</p>
            
        </div>

        <div class="categoria-filtro" id="filtro-sexo">
            <i class="fa-solid fa-venus-mars"></i>
            <p>Sexo</p>
            
        </div>

        <div class="categoria-filtro" id="filtro-tamaño">
            <i class="fa-solid fa-maximize"></i>
            <p>Tamaño</p>
            
        </div>
        
        <div class="categoria-filtro" id="filtro-localidad">
            <i class="fa-solid fa-map-location-dot"></i>
            <p>Localidad</p>
            
            
        </div>
        <div class="categoria-filtro" id="filtro-barrio">
            <i class="fa-solid fa-house"></i>
            <p>Barrio</p>
            
        </div>
        <div class="categoria-filtro" id="filtro-fechaPubli">
            <i class="fa-solid fa-calendar-days"></i>
            <p>
                Fecha publicacion  
            
             </p>
            
            
        </div> 

        


        



    </div>
    <div class="filtros-box" id="subfiltros-box">
                
    </div>

</div>

    

</div>




    
    
    <span class="fa-solid fa-circle-plus" id="agregar"></span>
    <a href="{% url 'perfil' %}"><span class="fa-solid fa-user" id="favoritos"></span></a>

    

</div>	


<script type="module" src="{% static 'js/main.js' %}"></script>
