{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
<script src="https://kit.fontawesome.com/57b9ea98d3.js" crossorigin="anonymous"></script>


<header>
    <div class="header">
        <div id="logo">
            <a href="{% url 'index' %}">
                <img src="{% static 'img/LogoPetTraceBorde.png' %}">
            </a>
        </div>
        <label for="checkbox"><i class="fa-solid fa-bars" style="color: #fff; font-size: 25px;"></i></label>
    </div>
    <input type="checkbox" id="checkbox">
    <nav>
        <ul>
            {% if user.is_authenticated %}
            <li>
                <div id="fotoperfilusu">
                <div id="fotoperfil">
                    <a href="{% url 'perfil' request.user.id %}"> 
                        <div class="contImg">
                             {% if user.perfil.imagen %} 
                            <img src="{{ user.perfil.imagen.url }}" alt="" class="imgperfil">
                            {% else %} 
                            <img src="{% static 'img/fotoperfil.jpg' %}" alt="" class="imgperfil">

                            {% endif %}
                        </div>
                    </a>
                </div>
                <h3 style="margin-top: 3px;"><i>{{ user.username }}</i></h3>
            </div>
            </li>
            <li class="li">
                <i class="fa-solid fa-user fa-lg"></i>
                <a href="{% url 'perfil' request.user.id %}">PERFIL</a>
            </li>
            <li class="li">
                <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                <a href="{% url 'perdidas' %}">PERDIDAS</a>
            </li>
            <li class="li">
                <i class="fa-solid fa-paw fa-lg"></i>
                <a href="{% url 'encontradas' %}">ENCONTRADAS</a>
            </li>
            <li class="li">
                <i class="fa-brands fa-firefox-browser fa-lg"></i>
                <a href="{% url 'adopciones' %}">ADOPCIONES</a>
            </li>
            <li class="li">
                <i class="fa-solid fa-bell fa-lg"></i>
                <a href="">NOTIFICACIONES</a>
            </li>

            <li class="li">
                <i class="fa-solid fa-gear"></i>
                <a href="">AJUSTES</a>
            </li>
            <li class="li">
                <i class="fa-solid fa-right-from-bracket"></i>
                <a href="{% url 'logout' %}" onclick="return confirm('¿Estás seguro de que deseas cerrar sesión?')">CERRAR SESIÓN</a>
            </li>
            {% else %}
            <li class="li">
                <i class="fa-solid fa-user-plus fa-lg"></i>
                <a href="{% url 'registrar' %}">REGISTRARSE</a>
            </li> 
            <li class="li">
                <i class="fa-solid fa-arrow-right-to-bracket fa-lg"></i>
                <a href="{% url 'login' %}">INICIAR SESIÓN</a>
            </li>
            <li class="li">
                <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                <a href="{% url 'perdidas' %}">PERDIDAS</a>
            </li>
            <li class="li">
                <i class="fa-solid fa-paw fa-lg"></i>
                <a href="{% url 'encontradas' %}">ENCONTRADAS</a>
            </li>
            <li class="li">
                <i class="fa-brands fa-firefox-browser fa-lg"></i>
                <a href="{% url 'adopciones' %}">ADOPCIONES</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</header>    


{% block content %}
{% endblock content %}