{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
<!--<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/perdidas.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/perfil.css' %}">-->

<script src="https://kit.fontawesome.com/57b9ea98d3.js" crossorigin="anonymous"></script>



<header>
    <div class="header">
        <div id="logo">
            <a href="../index.html">
                <img src="{% static 'img/LogoPetTraceBorde.png' %}">
            </a>
        </div>
        <label for="checkbox"><i class="fa-solid fa-bars"></i></label>
    </div>
    <input type="checkbox" id="checkbox">
    <nav>
        <ul>
            <li>
                <div id="fotoperfil">
                    <img src="{% static 'img/fotoperfil.jpg' %}">
                </div>
            </li>
        {% if user.is_authenticated %}
            <li class="li">
                <span class="icon-search"></span>
                <a href="{% url 'cerrar_sesion' %}" onclick="return confirm('¿Estás seguro de que deseas cerrar sesión?')">Cerrar sesión</a>
            </li>
        
            <li class="li">
                <span class="icon-search"></span>
                <a href="">PERDIDAS</a>
            </li>
            <li class="li">
                <span class="icon-paw"></span>
                <a href="">ENCONTRADAS</a>
            </li>
            <li class="li">
                <span class="icon-firefox"></span>
                <a href="">ADOPCIONES</a>
            </li>
            <li class="li">
                <span class="icon-bell-alt"></span>
                <a href="">NOTIFICACIONES</a>
            </li>
            <li class="li">
                <span class="icon-cog"></span>
                <a href="">AJUSTES</a>
            </li>
        {% endif %}
            <li class="li">
                <span class="icon-cog"></span>
                <a href="{% url 'registrar' %}">Registrarse</a>
            </li> 
            <li class="li">
                <span class="icon-cog"></span>
                <a href="{% url 'login' %}">Iniciar sesión</a>
            </li>
        </ul>
    </nav>
</header>    


{% block content %}
{% endblock content %}