{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/header.css' %}">




<script src="https://kit.fontawesome.com/57b9ea98d3.js" crossorigin="anonymous"></script>



<header>
    <div class="header">
        <div id="logo">
            <a href="{% url 'index' %}">
                <img src="{% static 'img/LogoPetTraceBorde.png' %}">
            </a>
        </div>
        <label for="checkbox"><i class="fa-solid fa-bars" style="color: #fff; font-size: 25px;"></i></label>
    </div>
    <input type="checkbox" id="checkbox">
    <nav>
        <ul>
            <li>
                <div id="fotoperfil">
                    <img src="{% static 'img/fotoperfil.jpg' %}">
                </div>
            </li>
            <li class="li">
                <i class="fa-solid fa-user fa-lg"></i>
                <a href="{% url 'perfil' %}">PERFIL</a>
            </li>
            <li class="li">
                <i class="fa-solid fa-magnifying-glass fa-lg"></i>
                <a href="{% url 'perdidas' %}">PERDIDAS</a>
            </li>
            <li class="li">
                <i class="fa-solid fa-paw fa-lg"></i>
                <a href="{% url 'encontradas' %}">ENCONTRADAS</a>
            </li>
            <li class="li">
                <i class="fa-brands fa-firefox-browser fa-lg"></i>
                <a href="">ADOPCIONES</a>
            </li>
            <li class="li">
                <i class="fa-solid fa-bell fa-lg"></i>
                <a href="">NOTIFICACIONES</a>
            </li>

            <li class="li">
                <i class="fa-solid fa-gear fa-lg"></i>
                <a href="">AJUSTES</a>
            </li>

        </ul>
    </nav>
</header>    


{% block content %}
{% endblock content %}