{% load static %}
			
<!DOCTYPE html>
<html>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/encontradas.css' %}">
    <script src="https://kit.fontawesome.com/57b9ea98d3.js" crossorigin="anonymous"></script>

    <title>Mascotas Encontradas</title>
</head>
<body>


    <!-- --------------------------AGREGAR PUBLICACION------------------------------------------  -->



    

    <section class="contenedor-modelo">
        <form method="POST" action="{% url 'agregarPubliEncontradas' %}" id="agregarPubli" class=" publi-modelo-estilo" enctype="multipart/form-data">

            {% csrf_token %}

            <div class="publi-modelo-contenido">
                
                <h3>Agregar Publicacion</h3>

                <span class="fa-solid fa-xmark icon-cancel" style="color: #fff;" ></span>

                <div class="inputs-img">

                    




                    <div class="input-img">
                        <label for="input-img-1" >
                            <div class="input-text">
                                

                                <div class="icon-upload">
                                    <span class="fa-solid fa-upload"></span>
                                    <p class="p-upload">click para subir imagen</p>
                                </div> 

                                <input type="file" name="img1" id="input-img-1" class="input-file" required>
                                
                            </div>
                        </label>

                        

                    </div>
                    <div class="input-img">
                        <label for="input-img-2" >
                            <div class="input-text">

                                <div class="icon-upload">
                                    <span class="fa-solid fa-upload"></span>
                                    <p class="p-upload">click para subir imagen</p>
                                </div> 

                                <input type="file" name="img2" id="input-img-2" class="input-file" required>
                            </div>
                        </label>
                            

                        </div>
                        <div class="input-img">
                            <label for="input-img-3" >
                                <div class="input-text">
                                    <div class="icon-upload">
                                        <span class="fa-solid fa-upload"></span>
                                        <p class="p-upload">click para subir imagen</p>
                                    </div> 

                                    <input type="file" name="img3" id="input-img-3" class="input-file" required>
                                </div>
                            </label>
                                    

                            </div>

                            <div class="input-img">
                                <label for="input-img-4" >
                                    <div class="input-text">
                                        <div class="icon-upload">
                                            <span class="fa-solid fa-upload"></span>
                                            <p class="p-upload">click para subir imagen</p>
                                        </div> 
                                        <input type="file" name="img4" id="input-img-4" class="input-file" required>
                                    </div>
                                </label>
                            </div>


                                <div class="input-img">
                                    <label for="input-img-5" >
                                        <div class="input-text">
                                            <div class="icon-upload">
                                                <span class="fa-solid fa-upload"></span>
                                                <p class="p-upload">click para subir imagen</p>
                                            </div> 
                                            <input type="file" name="img5" id="input-img-5" class="input-file" required>

                                        </div>
                                    </label>
                                </div>





                                </div>



                                <div class="datos-mascota">
                                    <div class="col1">
        
                                        <div class="dato-select">
                                            <div class="label-selectMultiple">
                                            <label for="especiemas" class="mostrarSelect" >Especie<i class="fa-solid fa-caret-down mostrarSelect-flecha" style="color: #000; "></i></label></div>
                                            <select name="especiemas" id="especiemas" class="select" required>
                                                <option value="" disabled selected>Seleccione una</option>
                                                <option value="perro">Perro</option>
                                                <option value="gato">Gato</option>

                                            </select>

                                        </div>
                                        <div class="dato-select">
                                            <div class="label-selectMultiple">
                                            <label for="razamas" class="mostrarSelect" >Raza<i class="fa-solid fa-caret-down mostrarSelect-flecha" style="color: #000; "></i></label></div>
                                            <select name="razamas" id="razamas" class="select" required>



                                                <option value="" disabled selected>Seleccione una</option>

                                                

                                            </select>

                                        </div>

                                        <div class="dato-select">
                                            <div class="label-selectMultiple">
                                            <label for="tamañomas" class="mostrarSelect" >Tamaño<i class="fa-solid fa-caret-down mostrarSelect-flecha" style="color: #000; "></i></label></div>
                                            <select name="tamañomas" id="tamañomas" class="select" required>
                                                <option value="" default>Seleccione una</option>
                                                <option value="pequeño">pequeño</option>
                                                <option value="mediano">mediano</option>
                                                <option value="grande">grande</option>

                                            </select>

                                        </div>
                                        
                                        <div class="dato-select">
                                            <div class="label-selectMultiple">
                                            <label for="sexomas" class="mostrarSelect" >Sexo<i class="fa-solid fa-caret-down mostrarSelect-flecha" style="color: #000; "></i></label></div>
                                            <select name="sexomas" id="sexomas" class="select" required>
                                                <option value="">Seleccione una</option>
                                                <option value="macho">macho</option>
                                                <option value="hembra">hembra</option>

                                            </select>

                                        </div>

                                                
                                        <div class="dato-select">
                                            <div class="label-selectMultiple">
                                            <label for="colormas" class="mostrarSelect" >Color<i class="fa-solid fa-caret-down mostrarSelect-flecha" style="color: #000; "></i></label></div>
                                            <select name="colormas" id="colormas" class="select" required>
                                                <option value="" disabled selected>seleccione uno</option>
                                                <option value="rojizo">Rojizo</option>
                                                <option value="naranja">Naranja</option>
                                                <option value="amarillo">Amarillo</option>
                                                <option value="dorado">Dorado</option>
                                                <option value="gris">Gris</option>
                                                <option value="marron">Marron</option>
                                                <option value="blanco">Blanco</option>
                                                <option value="negro">Negro</option>

                                            </select>

                                        </div>
                                        
                                        <div class="dato">
                                            <label for="marcasmas" class="bold">Marcas distintivas: </label>
                                            <textarea name="marcasmas" class="input-mascota" id="marcasmas" cols="30" rows="2" required></textarea>
                                        </div>
                                        <div class="dato">
                                            <label for="accesoriosmas" class="bold">Accesorios: </label>
                                            <textarea name="accesoriosmas" class="input-mascota" id="accesoriosmas" cols="30" rows="2" required></textarea>
                                        </div>


                                    </div>
                                    <div class="col2">
                                        <div class="dato">
                                            <label for="enfermedadesmas" class="bold">Enfermedades: </label>
                                            <textarea name="enfermedadesmas" class="input-mascota" id="enfermedadesmas" cols="30"  rows="2" required></textarea>
                                        </div>
                                        <div class="dato-select">
                                            <div class="label-selectMultiple">
                                            <label for="esterilizacionmas" class="mostrarSelect">Esterilizacion<i class="fa-solid fa-caret-down mostrarSelect-flecha" style="color: #000; "></i></label></div>
                                            <select name="esterilizacionmas" id="esterilizacionmas"  class="select"  required >
                                                <option value="sí">Sí</option>
                                                <option value="no">No</option>

                                            </select>
                                        </div>
                                        
                                
                                     
                                        </div>
                                        <div class="dato-select">
                                            <div class="label-selectMultiple">
                                                <label for="localidadEncuentro" class="mostrarSelect">Localidad de encuentro</label></div>
                                                <select name="localidadEncuentro" id="localidades" class="select" required>
                                                    <option value="" default disabled>Localidad de encuentro</option>
                                                    <option value="usaquen">Usaquén</option>
                                                    <option value="chapinero">Chapinero</option>
                                                    <option value="santa fe">Santa Fe</option>
                                                    <option value="san cristobal">San Cristóbal</option>
                                                    <option value="usme">Usme</option>
                                                    <option value="tunjuelito">Tunjuelito</option>
                                                    <option value="bosa">Bosa</option>
                                                    <option value="kennedy">Kennedy</option>
                                                    <option value="fontibon">Fontibón</option>
                                                    <option value="engativa">Engativá</option>
                                                    <option value="suba">Suba</option>
                                                    <option value="barrios unidos">Barrios Unidos</option>
                                                    <option value="teusaquillo">Teusaquillo</option>
                                                    <option value="los martires">Los Mártires</option>
                                                    <option value="antonio narino">Antonio Nariño</option>
                                                    <option value="puente aranda">Puente Aranda</option>
                                                    <option value="la candelaria">La Candelaria</option>
                                                    <option value="rafael uribe">Rafael Uribe</option>
                                                    <option value="ciudad bolivar">Ciudad Bolívar</option>
                                                    </select> 
                                            </div>
                                        


                                    
                                        <div class="dato-select">
                                            <div class="label-selectMultiple">
                                                <label for="barrioEncuentro" class="mostrarSelect">Barrio de encuentro</label></div>
                                                <select name="barrioEncuentro" id="barrios" class="select" required>
                                                    <option>Seleccione un barrio</option>
                                                </select>
                                        </div>

                                    
                                    <div class="dato">
                                        <label for="fechaEncuentro" class="bold">Fecha de encuentro: </label>
                                        <input type="date" name="fechaEncuentro" id="fechaEncuentro" class="input-mascota" required>
                                    </div>

                                    <div class="dato">
                                        <label for="horaEncuentro" class="bold">Hora de encuentro: </label>
                                        <input type="time" name="horaEncuentro" id="horaEncuentro" class="input-mascota" required>
                                    </div>

                                    <div class="dato">
                                        <label for="recompensa" class="bold">recompensa: </label>
                                        <input type="number" step="any" name="recompensa" placeholder="(opcional)" id="recompensa" class="input-mascota">
                                    </div>

                                    {% if form.errors %}
                                                <ul class="errorlist">
                                                    {% for field in form %}
                                                        {% for error in field.errors %}
                                                            <li>{{ error }}</li>
                                                        {% endfor %}
                                                    {% endfor %}
                                                </ul>
                                            {% endif %}
                                </div>
                            </div>

                            <hr>

                            <div class="datos-contacto">
                                <div class="datos-contacto-contenedor">

                                    <div class="dato">
                                        <p  class="bold">Nombre: </p>
                                        <p> {{ request.user.username }} </p>
                                    </div>
                                    <div class="dato">
                                        <p  class="bold">Numero de telefono: </p>
                                        <p> {{ request.user.usuario.telefono }} </p>
                                    </div>

                                    <div class="dato">
                                        <p  class="bold">Correo Electronico: </p>
                                        <p> {{ request.user.email }} </p>
                                    </div>

                                    <input type="submit" class="btn" value="Publicar">

                                </div>
                            </div>

                            

                        </div>

                    </div>



                </form>
            </section>


<!-------------- EDITAR PUBLICACION------------------ -->


<section class="contenedor-modelo">
<form method="post" action="" id="editarPubli" class="publi-modelo-estilo" enctype="multipart/form-data">

    {% csrf_token %}

    <div class="publi-modelo-contenido">

        <h3>EDITAR PUBLICACION</h3>

        <span class="fa-solid fa-xmark icon-cancel" style="color: #fff;" ></span>

        <div class="inputs-img">

            


<!-------------------- al final de cada id hay una 'e', de 'editar'.--------------------------- -->

            <div class="input-img">
                <label for="einput-img-6" >
                    <div class="input-text">
                        <img id="imgmas6" src="" alt="imagen mascota 1">
                        <input type="file" name="img1" id="einput-img-6" class="input-file" >

                    </div>
                </label>
            </div>

            <div class="input-img">
                <label for="einput-img-7" >
                    <div class="input-text">
                        <img id="imgmas7" src="" alt="imagen mascota 2">
                        <input type="file" name="img2" id="einput-img-7" class="input-file" >

                    </div>
                </label>
            </div>

                <div class="input-img">
                <label for="einput-img-8" >
                    <div class="input-text">
                        <img id="imgmas8" src="" alt="imagen mascota 3">
                        <input type="file" name="img3" id="einput-img-8" class="input-file" >

                    </div>
                </label>
            </div>

            <div class="input-img">
                <label for="einput-img-9" >
                    <div class="input-text">
                        <img id="imgmas9" src="" alt="imagen mascota 4">
                        <input type="file" name="img4" id="einput-img-9" class="input-file" >

                    </div>
                </label>
            </div>


            <div class="input-img">
                <label for="einput-img-10" >
                    <div class="input-text">
                        <img id="imgmas10" src="" alt="imagen mascota 5">
                        <input type="file" name="img5" id="einput-img-10" class="input-file" >

                    </div>
                </label>
            </div>





        </div>



                        <div class="datos-mascota">
                            <div class="col1">
                                <div class="dato">
                                    <label for="nombremase" class="bold">Nombre: </label>
                                    <input type="text" name="nombremas" placeholder="Nombre de la mascota" id="nombremase" class="input-mascota" required>
                                </div>
                                <div class="dato-select">
                                    <div class="label-selectMultiple">
                                    <label for="especiemase" class="mostrarSelect" >Especie<i class="fa-solid fa-caret-down mostrarSelect-flecha" style="color: #000; "></i></label></div>
                                    <select name="especiemas" id="especiemase"  class="select" required>
                                        <option value="" disabled>Seleccione una</option>
                                        <option value="perro" selected>Perro</option>
                                        <option value="gato">Gato</option>

                                    </select>

                                </div>
                                <div class="dato-select">
                                    <div class="label-selectMultiple">
                                    <label for="razamase" class="mostrarSelect" >Raza<i class="fa-solid fa-caret-down mostrarSelect-flecha" style="color: #000; "></i></label></div>
                                    <select name="razamas" id="razamase" class="select" required>
                                        

                                    </select>

                                </div>

                                <div class="dato-select">
                                    <div class="label-selectMultiple">
                                    <label for="tamañomase" class="mostrarSelect" >Tamaño<i class="fa-solid fa-caret-down mostrarSelect-flecha" style="color: #000; "></i></label></div>
                                    <select name="tamañomas" id="tamañomase" class="select" required>
                                        <option value="" default>Seleccione una</option>
                                        <option value="pequeño">pequeño</option>
                                        <option value="mediano">mediano</option>
                                        <option value="grande">grande</option>

                                    </select>

                                </div>
                                
                                <div class="dato-select">
                                    <div class="label-selectMultiple">
                                    <label for="sexomase" class="mostrarSelect" >Sexo<i class="fa-solid fa-caret-down mostrarSelect-flecha" style="color: #000; "></i></label></div>
                                    <select name="sexomas" id="sexomase" class="select" required>
                                        <option value="">Seleccione una</option>
                                        <option value="macho">macho</option>
                                        <option value="hembra">hembra</option>

                                    </select>

                                </div>

                                        
                                <div class="dato-select">
                                    <div class="label-selectMultiple">
                                    <label for="colormase" class="mostrarSelect" >Color<i class="fa-solid fa-caret-down mostrarSelect-flecha" style="color: #000; "></i></label></div>
                                    <select name="colormas" id="colormase" class="select" required>
                                        <option value="" disabled default>seleccione uno</option>
                                        <option value="rojizo">Rojizo</option>
                                        <option value="naranja">Naranja</option>
                                        <option value="amarillo">Amarillo</option>
                                        <option value="dorado">Dorado</option>
                                        <option value="gris">Gris</option>
                                        <option value="marron">Marron</option>
                                        <option value="blanco">Blanco</option>
                                        <option value="negro">Negro</option>

                                    </select>

                                </div>
                                
                                <div class="dato">
                                    <label for="edadmase" class="bold">Edad: </label>
                                    <input type="number" name="edadmas" id="edadmase" class="input-mascota" required>
                                </div>
                                <div class="dato">
                                    <label for="marcasmase" class="bold">Marcas distintivas: </label>
                                    <textarea name="marcasmas" id="marcasmase" cols="30" class="input-mascota" rows="2" required></textarea>
                                </div>
                                <div class="dato">
                                    <label for="accesoriosmase" class="bold">Accesorios: </label>
                                    <textarea name="accesoriosmas" id="accesoriosmase" cols="30" class="input-mascota" rows="2" required></textarea>
                                </div>




                            </div>
                            <div class="col2">
                                <div class="dato">
                                    <label for="enfermedadesmase" class="bold">Enfermedades: </label>
                                    <textarea name="enfermedadesmas" id="enfermedadesmase" cols="30"  class="input-mascota" rows="2" required></textarea>
                                </div>
                                <div class="dato-select">
                                    <div class="label-selectMultiple">
                                    <label for="esterilizacionmase" class="mostrarSelect">Esterilizacion<i class="fa-solid fa-caret-down mostrarSelect-flecha" style="color: #000; "></i></label></div>
                                    <select name="esterilizacionmas" id="esterilizacionmase"  class="select"  required >
                                        <option value="sí">Sí</option>
                                        <option value="no">No</option>

                                    </select>
                                </div>
                                
                                <div class="dato">
                                    <label for="medicamentosmase" class="bold">Medicamentos: </label>
                                    <textarea name="medicamentosmas" id="medicamentosmase" placeholder="medicamentos o cuidados especificos" cols="30" class="input-mascota" rows="2" required></textarea>

                                </div>
                                <div class="dato-select">
                                    <div class="label-selectMultiple">
                                    <label for="vacunasmase" id="labelvacunasmase" class="mostrarSelect">Vacunas<i class="fa-solid fa-caret-down mostrarSelect-flecha" style="color: #000; "></i></label></div>
                                    <select name="vacunasmas" id="vacunasmase"  class="select"  multiple>
                                        

                                    </select>
                                </div>
                                <div class="dato-select">
                                    <div class="label-selectMultiple">
                                        <label for="localidadese" class="mostrarSelect">Localidad de extravío</label></div>
                                        <select name="localidadExtravio" id="localidadese" class="select" required>
                                                <option value="" default disabled>Localidad de extravío</option>
                                                <option value="usaquen">Usaquén</option>
                                                <option value="chapinero">Chapinero</option>
                                                <option value="santa fe">Santa Fe</option>
                                                <option value="san cristobal">San Cristóbal</option>
                                                <option value="usme">Usme</option>
                                                <option value="tunjuelito">Tunjuelito</option>
                                                <option value="bosa">Bosa</option>
                                                <option value="kennedy">Kennedy</option>
                                                <option value="fontibon">Fontibón</option>
                                                <option value="engativa">Engativá</option>
                                                <option value="suba">Suba</option>
                                                <option value="barrios unidos">Barrios Unidos</option>
                                                <option value="teusaquillo">Teusaquillo</option>
                                                <option value="los martires">Los Mártires</option>
                                                <option value="antonio narino">Antonio Nariño</option>
                                                <option value="puente aranda">Puente Aranda</option>
                                                <option value="la candelaria">La Candelaria</option>
                                                <option value="rafael uribe">Rafael Uribe</option>
                                                <option value="ciudad bolivar">Ciudad Bolívar</option>
                                            </select> 
                                    </div>
                                


                            
                                <div class="dato-select">
                                    <div class="label-selectMultiple">
                                        <label for="barriose" class="mostrarSelect">Barrio de extravío</label></div>
                                        <select name="barrioExtravio" id="barriose" class="select" required>
                                            <option>Seleccione un barrio</option>
                                        </select>
                                </div>

                            
                            <div class="dato">
                                <label for="fechaExtravioe" class="bold">Fecha de extravío: </label>
                                <input type="date" name="fechaExtravio"  id="fechaExtravioe" class="input-mascota" required>
                            </div>

                            <div class="dato">
                                <label for="horaExtravioe" class="bold">Hora de extravío: </label>
                                <input type="time" name="horaExtravioe"  id="horaExtravioe" class="input-mascota" required>
                            </div>

                            <div class="dato">
                                <label for="recompensae" class="bold">recompensa: </label>
                                <input type="number" step="any" name="recompensa" placeholder="(opcional)" id="recompensae" class="input-mascota">
                            </div>

                            {% if form.errors %}
                                <ul class="errorlist">
                                    {% for field in form %}
                                        {% for error in field.errors %}
                                            <li>{{ error }}</li>
                                        {% endfor %}
                                    {% endfor %}
                                </ul>
                            {% endif %}
                        </div>
                    </div>

                    <hr>

                    <div class="datos-contacto">
                        <div class="datos-contacto-contenedor">

                            <div class="dato">
                                <p  class="bold">Nombre: </p>
                                <p id="nombreDueñoe"></p>
                            </div>
                            <div class="dato">
                                <p  class="bold">Numero de telefono: </p>
                                <p id="numeroDueñoe"></p>
                            </div>

                            <div class="dato">
                                <p  class="bold">Correo Electronico: </p>
                                <p id="correoDueñoe"></p>
                            </div>

                            <input type="submit" class="btn" value="Actualizar">

                        </div>
                    </div>

                    

                </div>

            </div>



        </form>
    </section>


    <section class="contenedor-modelo">
        <div id="eliminarPubli">
            <i class="fa-regular fa-trash-can" style="color: #587073;"></i>
            <h3>¿Está seguro de que quiere eliminar la publicacion?</h3>
            <div id="btnOpcionesEP">
                <button class="btnAceptar">Aceptar</button>
                <button class="btnCancelar">Cancelar</button>
            </div>
        </div>
    </section>





<!-- ................................VENTANA modelo-------------- -->

    <section class="contenedor-modelo">
        <div class="publi-modelo-estilo " id="publi-modelo">

            <div class="publi-modelo-contenido">

                <div class="publi-carrusel">

                    <div class="carrusel">


                        <div class="carrusel-section"><img  id="img2m" src="">
                        

                        </div>
                        <div class="carrusel-section"><img id="img3m"  src="">
                        

                        </div>
                        <div class="carrusel-section"><img id="img4m"  src="">
                        

                        </div>
                        <div class="carrusel-section"><img  id="img5m" src="">
                        

                        </div>

                        <div class="carrusel-btn carrusel-btn-right" id="btn-right">&#62;</div>
                        <div class="carrusel-btn carrusel-btn-left" id="btn-left">&#60;</div>

                    </div>

                </div>


                    <!--  En el id de cada <p>, la 'm' la final de cada id es de modelo -->
                <div class="datos-mascota">
                    <div class="col1">
                        <div class="dato">
                            <p  class="bold">Nombre: </p>
                            <p id="nombremasm" class="valorm"></p>
                            
                        </div>
                        <div class="dato">
                            <p  class="bold">Especie: </p>
                            <p id="especiemasm" class="valorm"></p>
                            
                        </div>
                        <div class="dato">
                            <p  class="bold">Raza: </p>
                            <p id="razamasm" class="valorm"></p>
                        </div>
                        <div class="dato">
                            <p  class="bold">Tamaño: </p>
                            <p id="tamañomasm" class="valorm"></p>
                        </div>

                        <div class="dato">
                            <p  class="bold">Sexo: </p>
                            <p id="sexomasm" class="valorm"></p>
                        </div>
                        <div class="dato">
                            <p  class="bold">Color: </p>
                            <p id="colormasm" class="valorm"></p>
                        </div>
                        <div class="dato">
                            <p class="bold">Edad: </p>
                            <p id="edadmasm" class="valorm"></p>
                        </div>
                        <div class="dato">
                            <p  class="bold">Marcas distintivas: </p>
                            <p id="marcasmasm" class="valorm"></p>
                        </div>
                        <div class="dato">
                            <p  class="bold">Accesorios: </p>
                            <p id="accesoriosmasm" class="valorm"></p>
                        </div>


                    </div>
                    <div class="col2">
                        <div class="dato">
                            <p class="bold">Enfermedades: </p>
                            <p id="enfermedadesmasm" class="valorm"></p>
                        </div>
                        <div class="dato">
                            <p class="bold">Esterilización: </p>
                            <p id="esterilizacionmasm" class="valorm"></p>
                        </div>
                        <div class="dato">
                            <p class="bold">Medicamentos: </p>
                            <p id="medicamentosmasm" class="valorm"></p>
                        </div>
                        <div class="dato">
                            <p class="bold">Vacunas: </p>
                            <p id="vacunasmasm" class="valorm"></p>
                        </div>
                        <div class="dato">
                            <p  class="bold">Localidad de extravío: </p>
                            <p id="localidadExtraviom" class="valorm"></p>
                        </div>
                        <div class="dato">
                            <p  class="bold">Barrio de extravío: </p>
                            <p id="barrioExtraviom" class="valorm"> </p>
                        </div>
                        <div class="dato">
                            <p  class="bold">Fecha de extravío: </p>
                            <p id="fechaExtraviom" class="valorm"></p>
                        </div>
                        <div class="dato">
                            <p  class="bold">Hora de extravío: </p>
                            <p id="horaExtraviom" class="valorm"></p>
                        </div>
                        <div class="dato">
                            <p  class="bold">Recompensa: </p>
                            <p id="recompensam" class="valorm"></p>
                        </div>
                    </div>
                </div>

                <hr>

                <div class="datos-contacto">
                    <div class="datos-contacto-contenedor">

                        <div class="dato">
                            <p  class="bold">Nombre: </p>
                            <p id="nombreDueño"></p>
                        </div>
                        <div class="dato">
                            <p  class="bold">Numero de telefono: </p>
                            <p id="telefonoDueño"></p>
                        </div>

                        <div class="dato">
                            <p  class="bold">Correo Electronico: </p>
                            <p id="correoDueño"></p>
                        </div>
                        <button id="btn-cerrar" class="btn btnVerPubli">cerrar</button>
                    </div>
                    
                </div>

                <div class="comentarios">

                </div>

                

            </div>

        </div>

    </section>

    {% include 'default/header.html' %}

    <main class="main ">



        

        <div  class="titulo-perdidas">
            <div class="titulo">
            <h2>MASCOTAS ENCONTRADAS</h2>
            <hr>
            </div>
        </div>



        <!-- -------------------primera publicacion------------------ -->

        
        <div class="publicaciones">

            {% for publicacion in publicaciones %}
            <div class="publi" id="publi" data-id="{{ publicacion.id_publicacion }}">

                <div class="contenido-publi">

                    <input type="hidden" value="{{ publicacion.id_publicacion }}" class="idPubli">

                    <div class="info-usuario">
                        <div class="img-usuario">
                        <img src="{% static 'img/fotoperfil.jpg' %}" id="img-usuario">
                        <h6>{{ publicacion.id_usuario.id_usuario.username }}</h6></div>
                        <div id="iconosPubli">
                        <i class="fa-regular fa-heart" style="color: #000 ;margin-right: 8px; " id="agregarFav"></i>
                        <span class="fa-solid fa-ellipsis-vertical trespuntos" ></span>
                        </div>
                        
                    </div>

                    
                    <div class="menuOpcionesPubli">
                        {% if user.is_authenticated and user.id == publicacion.id_usuario.id_usuario.pk  %}
                        <div class="opcionesPubli btnEditarPubli">
                            <i class="fa-solid fa-pen-to-square"></i>
                            <p>Editar publicacion</p>
                        </div>
                        <div class="opcionesPubli btnEliminarPubli">
                            <i class="fa-solid fa-trash"></i>
                            <p>Eliminar publicacion</p>
                        </div>
                        {% endif %}
                        <div class="opcionesPubli">
                            <i class="fa-solid fa-flag"></i>
                            <p>Reportar publicacion</p>
                        </div>
                    </div>

                    <hr>

                    <div class="img-mascota-section">

                        <div class="img-mascota-contenedor">

                            <img src="{{ publicacion.id_mascota.img1.url }}">

                        </div>

                    </div>


                    <hr>

                    <div class="info-mascota">

                        <div class="info-mascota-contenido">

                            <p class="fechaPubli"> {{ publicacion.fechaPubli }}</p>

                            <div class="col1">

                                

                                <div class="dato">

                                    <p class="bold">Nombre: </p>
                                    <p> {{ publicacion.id_mascota.nombremas }}</p>
                                </div>
                                <div class="dato">

                                    <p class="bold">Raza: </p>
                                    <p> {{ publicacion.id_mascota.razamas }}</p>
                                </div>
                                <div class="dato">

                                    <p class="bold">Color: </p>
                                    <p> {{ publicacion.id_mascota.colormas }}</p>
                                </div>
                            </div>

                            <div class="col2">
                                <div class="dato">

                                    <p class="bold">Fecha de encuentro: </p>
                                    <p>{{ publicacion.fechaEncuentro }}</p>
                                </div>

                                <div class="dato">

                                    <p class="bold">Barrio de encuentro: </p>
                                    <p>{{ publicacion.barrioEncuentro }}</p>
                                </div>

                                <div class="dato">

                                    <p class="bold">Localidad encuentro: </p>
                                    <p>{{ publicacion.localidadEncuentro }}</p>
                                </div>
                            </div>
                            <a class="btn btnVerPubli verPubli">Ver mascota</a>
                        </div>

                        

                    </div>

                    


                    
                    
                </div>

                

                
            </div>
            {% endfor %}

            <!-- -----------ventana modelo-------------- -->

        
        </div>



    </main>

        


        
        {% include 'default/menu.html' %}

        

            

            


            
            <script type="module" src="{% static 'js/encontradas.js' %}"></script>
            
            
        </body>
        </html>