

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Inicio</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">

</head>
<body>

{% include 'default/header.html' %}

	<main>

		<div id="main-banner">

		<section id="banner">

			<h2>¡Bienvenido a PetTrace!</h2>


			<div class="slider-frame">
				<ul>
					<li><img src="{% static 'img/banner1.jpg' %}" class="slider-img"></li>
					<li><img src="{% static 'img/banner2.jpg' %}" class="slider-img"></li>
					<li><img src="{% static 'img/banner3.jpeg' %}" class="slider-img"></li>
					<li><img src="{% static 'img/banner4.jpg' %}" class="slider-img"></li>
				</ul>
			</div>


		</section>

		<section id="banner-texts">


			

				<div id="banner-text-p">


			
			<p>Somos una plataforma online, que pretende facilitar el encuentro de dueños y sus mascotas perdidas.<span>&#160;</span></p>



		</div>

		<div id="banner-text-btn">

		

			<a href="pages/perdidas.html" class="btn">Publica tu mascota perdida</a>

			</div>

			


		

			
		</section>

		</div>

		<div id="main-servicios">



		<section id="servicios">



			<div id="titulo">
			<h2>Lo que ofrecemos</h2>
			<div id="linea"></div>

			</div>

			<div class="card">


				<img src="{% static 'img/card1.jpg' %}">

				
				<div id="card-text">
					<h3>Apartado de mascotas perdidas</h3>

					<p>Publica tu mascota extraviada, si alguien la ha visto, te podría ayudar.</p>

					</div>

				

				

					<button class="btn servicios-btn">Visitar</button>
				

			</div>

				<div class="card">


				<img src="{% static 'img/card2.jpg' %}">

				
				<div id="card-text">
					<h3>Apartado de mascotas encontradas</h3>

					<p>Revisa la lista de mascotas encontradas, alguien podría haber encontrado a tu mascota.</p>


					</div>

					<button class="btn servicios-btn">Visitar</button>

				

				

					
				

			</div>

				<div class="card">


				<img src="{% static 'img/card3.jpg' %}">

				
				<div id="card-text">
					<h3>Apartado de mascotas en adopción</h3>

					<p>¿Estás en busca de una mascota, o quieres dar en adopción?.</p>

					</div>

				

				

					<button class="btn servicios-btn">Visitar</button>
				

			</div>

		</section>

		</div>



	</main>


	{% include 'default/footer.html' %}








</body>
</html>