			{% load static %}
			
			<!DOCTYPE html>
			<html>
			<head>

				<meta charset="utf-8">
				<meta name="viewport" content="width=device-width, initial-scale=1">
				
				<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
				<link rel="stylesheet" type="text/css" href="{% static 'css/perdidas.css' %}">
				<script src="https://kit.fontawesome.com/57b9ea98d3.js" crossorigin="anonymous"></script>
			
				<title>Mascotas Perdidas</title>
			</head>
			<body>

				{% include 'default/header.html' %}

				<main class="main ">

					<div  class="titulo-perdidas">
						<h2>MASCOTAS PERDIDAS</h2>
						<div  class="linea-perdidas"></div>
					</div>



					<!-- -------------------primera publicacion------------------ -->

					
					<div class="publicaciones">

						{% for publicacion in publicaciones %}
						<div class="publi" id="publi" data-id="{{ publicacion.id_publicacion }}">

							<div class="contenido-publi">

								<input type="hidden" value="{{ publicacion.id_publicacion }}" class="idPubli">

								<div class="info-usuario">
									<div class="img-usuario">
									<img src="{% static 'img/fotoperfil.jpg' %}" id="img-usuario">
									<h6>{{ publicacion.id_usuario.id_usuario.username }}</h6></div>
									<div>
									<i class="fa-regular fa-heart" style="color: #000;" id="agregarFav"></i>
									<span class="fa-solid fa-ellipsis-vertical"></span>
									</div>
								</div>

								<hr>

								<div class="img-mascota-section">

									<div class="img-mascota-contenedor">

										<img src="{{ publicacion.id_mascota.img1 }}">

									</div>

								</div>


								<hr>

								<div class="info-mascota">

									<div class="info-mascota-contenido">

										

										<div class="col1">

											

											<div class="dato">

												<p class="bold">Nombre: </p>
												<p> {{ publicacion.id_mascota.nombremas }}</p>
											</div>
											<div class="dato">

												<p class="bold">Raza: </p>
												<p> {{ publicacion.id_mascota.razamas }}</p>
											</div>
											<div class="dato">

												<p class="bold">Color: </p>
												<p> {{ publicacion.id_mascota.colormas }}</p>
											</div>
										</div>

										<div class="col2">
											<div class="dato">

												<p class="bold">Fecha extravío: </p>
												<p>{{ publicacion.fechaExtravio }}</p>
											</div>

											<div class="dato">

												<p class="bold">Barrio de extravío: </p>
												<p>{{ publicacion.barrioExtravio }}</p>
											</div>

											<div class="dato">

												<p class="bold">Localidad extravío: </p>
												<p>{{ publicacion.localidadExtravio }}</p>
											</div>
										</div>
									</div>

									

								</div>

								<a  class="btn verPubli">Ver mascota</a>


								
								
							</div>

							
						</div>
						{% endfor %}




<!-- -----------primera publicacion ventana modelo-------------- -->


						<div class="publi-modelo-estilo " id="publi-modelo">

							<div class="publi-modelo-contenido">

								<div class="publi-carrusel">

									<div class="carrusel">


										<div class="carrusel-section"><img  id="img2" src="{{ publicacion.id_mascota.img2 }}">

										</div>
										<div class="carrusel-section"><img id="img3"  src="{{ publicacion.id_mascota.img3 }}">

										</div>
										<div class="carrusel-section"><img id="img4"  src="{{ publicacion.id_mascota.img4 }}">

										</div>
										<div class="carrusel-section"><img  id="img5" src="{{ publicacion.id_mascota.img5 }}">

										</div>

										<div class="carrusel-btn carrusel-btn-right" id="btn-right">&#62;</div>
										<div class="carrusel-btn carrusel-btn-left" id="btn-left">&#60;</div>

									</div>

								</div>


									<!-- m de modelo XD -->
								<div class="datos-mascota">
									<div class="col1">
										<div class="dato">
											<p  class="bold">Nombre: </p>
											<p id="nombremasm">{{ publicacion.id_mascota.nombremas }}</p>
										</div>
										<div class="dato">
											<p  class="bold">Raza: </p>
											<p id="razamasm"></p>
										</div>
										<div class="dato">
											<p  class="bold">Sexo: </p>
											<p id="sexomasm"></p>
										</div>
										<div class="dato">
											<p  class="bold">Color: </p>
											<p id="colormasm"></p>
										</div>
										<div class="dato">
											<p class="bold">Edad: </p>
											<p id="edadmasm"></p>
										</div>
										<div class="dato">
											<p  class="bold">Marcas distintivas: </p>
											<p id="marcasmasm"></p>
										</div>
										<div class="dato">
											<p  class="bold">Accesorios: </p>
											<p id="accesoriosmasm"></p>
										</div>


									</div>
									<div class="col2">
										<div class="dato">
											<p class="bold">Enfermedades: </p>
											<p id="enfermedadesmasm"></p>
										</div>
										<div class="dato">
											<p class="bold">Esterilización: </p>
											<p id="esterilizacionmasm"></p>
										</div>
										<div class="dato">
											<p class="bold">Medicamentos: </p>
											<p id="medicamentosmasm"></p>
										</div>
										<div class="dato">
											<p class="bold">Vacunas: </p>
											<p id="vacunasmasm"></p>
										</div>
										<div class="dato">
											<p  class="bold">Localidad de extravío: </p>
											<p id="localidadExtraviom"></p>
										</div>
										<div class="dato">
											<p  class="bold">Barrio de extravío: </p>
											<p id="barrioExtraviom"> </p>
										</div>
										<div class="dato">
											<p  class="bold">Fecha de extravío: </p>
											<p id="fechaExtraviom"></p>
										</div>
									</div>
								</div>

								<hr>

								<div class="datos-contacto">
									<div class="datos-contacto-contenedor">

										<div class="dato">
											<p  class="bold">Nombre: </p>
											<p id="nombreDueño"></p>
										</div>
										<div class="dato">
											<p  class="bold">Numero de telefono: </p>
											<p id="telefonoDueño"></p>
										</div>

										<div class="dato">
											<p  class="bold">Correo Electronico: </p>
											<p id="correoDueño"></p>
										</div>

									</div>
								</div>

								<div class="comentarios">

								</div>

								<button id="btn-cerrar" class="btn">cerrar</button>

							</div>

						</div>

					</div>





				

<!-- --------------------------AGREGAR PUBLICACION------------------------------------------  -->



				


					<form method="post" action="{% url 'agregarPubliPerdidas' %}" class=" publi-modelo-estilo agregarPubli" enctype="multipart/form-data">

						{% csrf_token %}

						<div class="publi-modelo-contenido">

							<span class="fa-solid fa-xmark" id="icon-cancel"></span>

							<div class="inputs-img">

								




								<div class="input-img">
									<label for="input-img-1" >
										<div class="input-text"><span class="fa-solid fa-upload"></span>
											<p>click para subir imagen</p>
											
										</div>
									</label>

									<input type="file" name="img1" id="input-img-1" class="input-file" required>

								</div>
								<div class="input-img">
									<label for="input-img-2" ><div class="input-text"><span class="fa-solid fa-upload"></span>
										<p>click para subir imagen</p></div></label>
										<input type="file" name="img2" id="input-img-2" class="input-file" required>

									</div>
									<div class="input-img">
										<label for="input-img-3" ><div class="input-text"><span class="fa-solid fa-upload"></span>
											<p>click para subir imagen</p></div></label>
											<input type="file" name="img3" id="input-img-3" class="input-file" required>

										</div>

										<div class="input-img"><input type="file" name="img4" id="input-img-4" class="input-file" required>
											<label for="input-img-4" ><div class="input-text"><span class="fa-solid fa-upload"></span>
												<p>click para subir imagen</p></div></label>
											</div>


											<div class="input-img"><input type="file" name="img5" id="input-img-5" class="input-file" required>
												<label for="input-img-5" ><div class="input-text"><span class="fa-solid fa-upload"></span>
													<p>click para subir imagen</p></div></label>
												</div>





											</div>



											<div class="datos-mascota">
												<div class="col1">
													<div class="dato">
														<label for="nombremas" class="bold">Nombre: </label>
														<input type="text" name="nombremas" placeholder="Nombre de la mascota" id="nombremas" class="input-mascota" required>
													</div>
													<div class="dato-select">
														<div class="label-selectMultiple">
														<label for="especiemas" class="mostrarSelect" >Especie<i class="fa-solid fa-caret-down mostrarSelect-flecha" style="color: #000; "></i></label></div>
														<select name="especiemas" id="especiemas" onchange="seleccionarEspecie()" class="select" required>
															<option value="" default disabled>Seleccione una</option>
															<option value="perro" >Perro</option>
															<option value="gato">Gato</option>

														</select>

													</div>
													<div class="dato-select">
														<div class="label-selectMultiple">
														<label for="razamas" class="mostrarSelect" >Raza<i class="fa-solid fa-caret-down mostrarSelect-flecha" style="color: #000; "></i></label></div>
														<select name="razamas" id="razamas" class="select" required>
															

														</select>

													</div>

													<div class="dato-select">
														<div class="label-selectMultiple">
														<label for="tamañomas" class="mostrarSelect" >Tamaño<i class="fa-solid fa-caret-down mostrarSelect-flecha" style="color: #000; "></i></label></div>
														<select name="tamañomas" id="tamañomas" class="select" required>
															<option value="" default>Seleccione una</option>
															<option value="pequeño">pequeño</option>
															<option value="mediano">mediano</option>
															<option value="grande">grande</option>

														</select>

													</div>
													
													<div class="dato-select">
														<div class="label-selectMultiple">
														<label for="sexomas" class="mostrarSelect" >Sexo<i class="fa-solid fa-caret-down mostrarSelect-flecha" style="color: #000; "></i></label></div>
														<select name="sexomas" id="sexomas" class="select" required>
															<option value="">Seleccione una</option>
															<option value="macho">macho</option>
															<option value="hembra">hembra</option>

														</select>

													</div>

															
													<div class="dato-select">
														<div class="label-selectMultiple">
														<label for="colormas" class="mostrarSelect" >Color<i class="fa-solid fa-caret-down mostrarSelect-flecha" style="color: #000; "></i></label></div>
														<select name="colormas" id="colormas" class="select" required>
															<option value="" disabled default>seleccione uno</option>
															<option value="rojizo">Rojizo</option>
															<option value="naranja">Naranja</option>
															<option value="amarillo">Amarillo</option>
															<option value="dorado">Dorado</option>
															<option value="gris">Gris</option>
															<option value="marron">Marron</option>
															<option value="blanco">Blanco</option>
															<option value="negro">Negro</option>

														</select>

													</div>
													
													<div class="dato">
														<label for="edadmas" class="bold">Edad: </label>
														<input type="number" name="edadmas" id="edadmas" class="input-mascota" required>
													</div>
													<div class="dato">
														<label for="marcasmas" class="bold">Marcas distintivas: </label>
														<textarea name="marcasmas" id="marcasmas" cols="30" rows="3" required></textarea>
													</div>
													<div class="dato">
														<label for="accesoriosmas" class="bold">Accesorios: </label>
														<textarea name="accesoriosmas" id="accesoriosmas" cols="30" rows="3" required></textarea>
													</div>


												</div>
												<div class="col2">
													<div class="dato">
														<label for="enfermedadesmas" class="bold">Enfermedades: </label>
														<textarea name="enfermedadesmas" id="enfermedadesmas" cols="30"  rows="3" required></textarea>
													</div>
													<div class="dato-select">
														<div class="label-selectMultiple">
														<label for="esterilizacionmas" class="mostrarSelect">Esterilizacion<i class="fa-solid fa-caret-down mostrarSelect-flecha" style="color: #000; "></i></label></div>
														<select name="esterilizacionmas" id="esterilizacionmas"  class="select"  required >
															<option value="sí">Sí</option>
															<option value="no">No</option>

														</select>
													</div>
													
													<div class="dato">
														<label for="medicamentosmas" class="bold">Medicamentos: </label>
														<textarea name="medicamentosmas" id="medicamentosmas" placeholder="medicamentos o cuidados especificos" cols="30" rows="3" required></textarea>

													</div>
													<div class="dato-select">
														<div class="label-selectMultiple">
														<label for="vacunasmas" class="mostrarSelect" onclick="mostrarSelect('vacunasmas')">Vacunas<i class="fa-solid fa-caret-down mostrarSelect-flecha" style="color: #000; "></i></label></div>
														<select name="vacunasmas" id="vacunasmas"  class="select"  multiple>
															

														</select>
													</div>
													<div class="dato-select">
														<div class="label-selectMultiple">
															<label for="txtlocalidad" class="mostrarSelect">Localidad de extravío</label></div>
															<select name="txtlocalidad" id="localidades" onchange="cargarBarrios()" class="select" required>
																	<option value="" default disabled>Localidad de extravío</option>
																	<option value="Usaquén">Usaquén</option>
																	<option value="Chapinero">Chapinero</option>
																	<option value="Santa Fe">Santa Fe</option>
																	<option value="San Cristóbal">San Cristóbal</option>
																	<option value="Usme">Usme</option>
																	<option value="Tunjuelito">Tunjuelito</option>
																	<option value="Bosa">Bosa</option>
																	<option value="Kennedy">Kennedy</option>
																	<option value="Fontibón">Fontibón</option>
																	<option value="Engativá">Engativá</option>
																	<option value="Suba">Suba</option>
																	<option value="Barrios Unidos">Barrios Unidos</option>
																	<option value="Teusaquillo">Teusaquillo</option>
																	<option value="Los Mártires">Los Mártires</option>
																	<option value="Antonio Nariño">Antonio Nariño</option>
																	<option value="Puente Aranda">Puente Aranda</option>
																	<option value="La Candelaria">La Candelaria</option>
																	<option value="Rafael Uribe">Rafael Uribe</option>
																	<option value="Ciudad Bolívar">Ciudad Bolívar</option>
																</select> 
														</div>
													


												
													<div class="dato-select">
														<div class="label-selectMultiple">
															<label for="txtbarrios" class="mostrarSelect">Barrio de extravío</label></div>
															<select name="txtbarrios" id="barrios" class="select" required>
																<option>Seleccione un barrio</option>
															</select>
													</div>

												
												<div class="dato">
													<label for="fechaExtravio" class="bold">Fecha de extravío: </label>
													<input type="datetime-local" name="fechaExtravio" placeholder="Nombre de la mascota" id="fechaExtravio" class="input-mascota" required>
												</div>

												<div class="dato">
													<label for="recompensa" class="bold">recompensa: </label>
													<input type="number" step="any" name="recompensa" placeholder="(opcional)" id="recompensa" class="input-mascota">
												</div>
											</div>
										</div>

										<hr>

										<div class="datos-contacto">
											<div class="datos-contacto-contenedor">

												<div class="dato">
													<p  class="bold">Nombre: </p>
													<p>Andrés Felipe Leal</p>
												</div>
												<div class="dato">
													<p  class="bold">Numero de telefono: </p>
													<p>3137525713</p>
												</div>

												<div class="dato">
													<p  class="bold">Correo Electronico: </p>
													<p>afleal34@gmail.com</p>
												</div>

											</div>
										</div>

										<input type="submit" class="btn" value="Publicar">

									</div>

								</div>



							</form>



							






						

					</main>


					{% include 'default/footer.html' %}
					{% include 'default/menu.html' %}

					

						

						



						<script type="text/javascript" src="{% static 'js/perdidas.js' %}"></script>
						<script type="text/javascript" src="{% static 'js/main.js' %}"></script>
						<script type="text/javascript" src="{% static 'js/cargarBarrios.js' %}"></script>
					</body>
					</html>