{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Perfil usuario</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/perfil.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/perdidas.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/publicaciones.css' %}">
    <script type="module" src="{% static 'js/cargarBarrios.js' %}"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
   {% include 'default/header.html' %}

   {% include 'publicaciones/ventanaModalPerdidas.html' %}
   {% include 'publicaciones/editarPubliPerdidas.html' %}

   {% include 'publicaciones/ventanaModalEncontradas.html' %}
   {% include 'publicaciones/editarPubliEncontradas.html' %}

   {% include 'publicaciones/ventanaModalAdopciones.html' %}
   {% include 'publicaciones/editarPubliAdopciones.html' %} 



   {% include 'publicaciones/eliminarPubli.html' %} 


   
    <main class="main" id="perfil-main">
        <div id="contenedor">
            <div id="contenido">
                <div id="contImg">
                    {% if perfil.usuario.perfil.imagen %}
                        <img src="{{ perfil.usuario.perfil.imagen.url }}" id="imgperfil" data-modal="modal1">
                    {% else %}
                        <img src="{% static 'img/fotoperfil.jpg' %}" alt="Foto de perfil predeterminada" id="imgperfil" data-modal="modal1">
                    {% endif %}
                </div>
                <div id="perfil" class="infoUsu">
                    <div id="username">
                        <h1 id="nombre-usuario">
                            <span class="salto-linea">Nombre de usuario:</span> 
                            {{ perfil.usuario.username }}
                            {% if es_propio_perfil %}
                                <a id="enlace-editar-nombre_usuario" onclick="mostrarFormulario('nombre_usuario')"><i class="fa-solid fa-pencil"></i></a>
                            {% endif %}
                        </h1>
                    </div>

                    <div id="descripcion" class="infoUsu">
                        <h2 class="descripcion">
                            Descripción:
                            {% if es_propio_perfil %}
                                <a id="enlace-editar-descripcion" onclick="mostrarFormulario('descripcion')">
                                    <i class="fa-solid fa-pencil"></i>
                                </a>
                            {% endif %}
                        </h2>

                        <h2 class="descripcion">
                            <span id="texto-descripcion">{{ perfil.usuario.perfil.descripcion }}</span>
                        </h2>
                    </div>
                </div>

                        <div id="infoUsu">
                          <h1>Información de usuario</h1>
                          <ul>
                                <li>
                                    <i class="fas fa-map-marker-alt"></i>
                                    <p>Ubicación:
                                        <span id="valor-ubicacion" class="salto-linea">{{ perfil.usuario.localidad }}, {{ perfil.usuario.barrio }}</span>
                                    </p>
                                    {% if es_propio_perfil %}
                                        <a id="enlace-editar-ubicacion" onclick="mostrarFormulario('ubicacion')"><i class="fa-solid fa-pencil"></i></a>
                                    {% endif %}
                                </li>
                            
                              <li id="telefono">
                                <i class="fas fa-phone"></i>
                                <p>Telefono: <span id="valor-telefono" class="salto-linea">{{ perfil.usuario.telefono }}</span></p>
                                {% if es_propio_perfil %}
                                    <a id="enlace-editar-telefono" onclick="mostrarFormulario('telefono')"><i class="fa-solid fa-pencil"></i></a>
                                {% endif %}
                            </li>
                            <li id="correo">
                                <i class="fas fa-envelope"></i>
                                <p>Correo: <span id="valor-correo" class="salto-linea">{{ perfil.usuario.email }}</span></p>
                                {% if es_propio_perfil %}
                                    <a id="enlace-editar-correo" onclick="mostrarFormulario('correo')"><i class="fa-solid fa-pencil"></i></a>
                                {% endif %}
                            </li>
                              <li>
                                  <i class="fas fa-paw"></i> Miembro desde: <br />
                                  {{ perfil.usuario.perfil.fecha_creacion }}
                              </li>
                          </ul>
                      </div>

                  

                      <div class="publis-perfil">

                        <div  class="titulo-perdidas">
                            <div class="titulo">
                            <h2 style="color: #fff;">PUBLICACIONES</h2>
                            <hr style="border: 1px #fff solid;">
                            </div>
                        </div>
    
                    <div id="apartados">
    
    
                        
    
                        <div id="apartados-mascotas">
                        <label class="apartados-a-perfil" data-apartado="1">Perdidas</label>
                        <label class="apartados-a-perfil" data-apartado="2">Encontradas</label>
                        <label class="apartados-a-perfil" data-apartado="3">Adopciones</label>
                    </div>
    
                    <div id="label-favoritas">
                        <label href="" class="apartados-a-perfil" data-apartado="4">Favoritas</label>
                    </div>
    
                    </div>
    
    
                    <div id="publicaciones">
    
                        <div id="apartados-contenedor">
    
    
                        
    
                        <div id="perdidas" class="apartado-perfil">
    
                        {% if perdidas|length == 0 %}
    
    
                            <h1 style="color: #fff; background-color: none;  text-align: center;">¡El usuario no ha realizado publicaciones de mascotas perdidas!</h1>
    
    
                        {% else %}
    
    
                            {% for publicacion in perdidas %}
                                
                                {% include 'publicaciones/publicacionPerdidas.html' %}
                                
                            {% endfor %}
    
                        {% endif %}
    
    
                        </div>
    
                        <div id="encontradas" class="apartado-perfil">
    
                        {% if encontradas|length == 0 %}
    
    
                            <h1 style="color: #fff; background-color: none;  text-align: center;">¡El usuario no ha realizado publicaciones de mascotas Encontradas!</h1>
    
    
                        {% else %}
    
                             {% for publicacion in encontradas %}
                            
                                 {% include 'publicaciones/publicacionEncontradas.html' %}
    
                            {% endfor %}
    
                        {% endif %}
                        </div>
    
                        <div id="adopciones" class="apartado-perfil">
    
                            {% if adopciones|length == 0 %}
    
    
                            <h1 style="color: #fff; background-color: none;  text-align: center;">¡El usuario no ha realizado publicaciones de mascotas en adopción!</h1>
    
    
                            {% else %}
    
    
                                {% for publicacion in adopciones %}
    
                                    {% include 'publicaciones/publicacionAdopciones.html' %}
    
                                {% endfor %}
    
                            {% endif %}
                        </div>
    
                        <div id="favoritas" class="apartado-perfil">
    
                            {% if favoritas|length == 0 %}
    
    
                            <h1 style="color: #fff; background-color: none;  text-align: center;">¡El usuario no ha agregado ninguna publicacion a favoritas!</h1>
    
    
                            {% else %}
    
                                {% for publicacion in favoritas %}
                            
                                       {% if publicacion.apartado == 'perdidas' %}
    
                                       {% include 'publicaciones/publicacionPerdidas.html' %}
                                       
                                       {% elif publicacion.apartado == 'encontradas' %}
                                                               
                                       {% include 'publicaciones/publicacionEncontradas.html' %}
    
                                       {% else %}
    
                                       {% include 'publicaciones/publicacionAdopciones.html' %}
    
    
                                    {% endif %}
    
                                {% endfor %}
    
                            {% endif %}
    
                            
                        </div>
                    
                    </div>
                
                </div>
    
    
                </div>
            </div>
        </div>
    </main>

    <!-- Div para mostrar opciones para la img de perfil del usuario -->
    <div id="modal1" class="filtros-box">
        <div id="opciones">
            <span class="close" id="close1">&times;</span>
            <p>¿Qué quieres hacer con la imagen?</p>
            <div class="categoria-filtro">
                <span>Ver imagen</span>
            </div>
            {% if es_propio_perfil %}
                <div class="categoria-filtro" id="cambiarImg">
                    <span>Cambiar imagen</span> <br>
                </div>
            {% endif %}
        </div>
    </div>
    <!-- Este es el DIV para ver la imagen de perfil -->
    <div id="modal-content" class="modal">
        {% if perfil.usuario.perfil.imagen %}
            <img src="{{ perfil.usuario.perfil.imagen.url }}" id="imgperfil-modal">
        {% else %}
            <img src="{% static 'img/fotoperfil.jpg' %}" alt="Foto de perfil predeterminada" id="imgperfil-modal">
        {% endif %}
        <span class="close" id="close2">&times;</span>
    </div>

    <!-- Este es el DIV para cambiar la imagen de perfil -->
    <div id="cont_imgForm" style="display: none;">
      <div id="img_perfilForm">
        <span class="close" id="close3">&times;</span>
        <h1>Cambiar imagen de perfil</h1>
        <hr>
        <div class="formularioPerfil">
          <form id="perfilForm" method="POST" enctype="multipart/form-data" action="{% url 'perfil' id_usuario=request.user.id %}">
            <img src="{% static 'img/subirImg.png' %}" id="imgsubir" />
            {% csrf_token %}
            <div style="display: none;">
                <input type="hidden" name="userId" value="{{ request.user.id }}">
                <input type="file" name="imagen" id="id_imagen" />
            </div>
            <label id="file-input" class="subir-btn">  
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 3H12H8C6.34315 3 5 4.34315 5 6V18C5 19.6569 6.34315 21 8 21H11M13.5 3L19 8.625M13.5 3V7.625C13.5 8.17728 13.9477 8.625 14.5 8.625H19M19 8.625V11.8125" stroke="#fffffff" stroke-width="2"></path>
                <path d="M17 15V18M17 21V18M17 18H14M17 18H20" stroke="#fffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
              Subir imagen
            </label>
            <input type="submit" id="btnSubir" value="Subir imagen" style="display: none;">
          </form>
        </div>
      </div>

    </div>

    <!-- Formularios para editar info usu -->
        <!-- Formulario para editar el nombre de usuario -->
        <div id="formulario-editar-nombre_usuario" class="formulario-editar" style="display: none;">
            <span class="close close-forms">&times;</span>
            <h1>Editar </h1>
            <input type="text" id="input-nombre_usuario" class="inputInfoUsu">
            <button id="boton-guardar-nombre_usuario" class="btnInfoUsu" onclick="enviarFormulario('nombre_usuario')">
                <i id="IconContainerNombreUsuario" class="fa-solid fa-circle-check"></i>
                <p class="text">Guardar</p>
            </button>
        </div>

        <!-- Este es el elemento oculto que contiene el formulario -->
        <div id="formulario-editar-descripcion" class="formulario-editar" style="display: none;">
            <span class="close close-forms">&times;</span>
            <h1>Editar </h1>
            <input type="text" id="input-descripcion" class="inputInfoUsu">
            <button id="boton-guardar-descripcion" class="btnInfoUsu" onclick="enviarFormulario('descripcion')">
                <i id="IconContainerDescripcion" class="fa-solid fa-circle-check"></i>
                <p class="text">Guardar</p>
            </button>
        </div>

        <!-- Formulario para editar la ubicación -->
        <div id="formulario-editar-ubicacion" class="formulario-editar" style="display: none;">
            <span class="close close-forms">×</span>
            <h1>Editar Ubicación</h1>
            <div>
                <label for="localidad">Elija su localidad*</label>
                <select name="localidad" id="localidadesRegistro" class="inputInfoUsu">
                    <option value="" selected disabled>Seleccione una localidad</option>
                    <option value="usaquen">Usaquén</option>
                    <option value="chapinero">Chapinero</option>
                    <option value="santa fe">Santa Fe</option>
                    <option value="san cristobal">San Cristóbal</option>
                    <option value="usme">Usme</option>
                    <option value="tunjuelito">Tunjuelito</option>
                    <option value="bosa">Bosa</option>
                    <option value="kennedy">Kennedy</option>
                    <option value="fontibon">Fontibón</option>
                    <option value="engativa">Engativá</option>
                    <option value="suba">Suba</option>
                    <option value="barrios unidos">Barrios Unidos</option>
                    <option value="teusaquillo">Teusaquillo</option>
                    <option value="los martires">Los Mártires</option>
                    <option value="antonio narino">Antonio Nariño</option>
                    <option value="puente aranda">Puente Aranda</option>
                    <option value="la candelaria">La Candelaria</option>
                    <option value="rafael uribe">Rafael Uribe</option>
                    <option value="ciudad bolivar">Ciudad Bolívar</option>
                </select>
            </div>
            <div>
                <label for="barrio">Elija su barrio*</label>
                <select name="barrio" id="barriosRegistro" class="inputInfoUsu">
                    <option>Seleccione un barrio</option>
                </select>
            </div>
            <button id="boton-guardar-ubicacion" class="btnInfoUsu" onclick="guardarUbicacion()">
                <i class="fa-solid fa-circle-check"></i>
                <p class="text">Guardar</p>
            </button>
        </div>


        <!-- Formulario para editar el telefono -->
        <div id="formulario-editar-telefono" class="formulario-editar" style="display: none;">
            <span class="close close-forms">&times;</span>
            <h1>Editar </h1>
            <input type="number" id="input-telefono" class="inputInfoUsu">
            <button id="boton-guardar-telefono" class="btnInfoUsu" onclick="enviarFormulario('telefono')">
                <i id="IconContainerTelefono" class="fa-solid fa-circle-check"></i>
                <p class="text">Guardar</p>
            </button>
        </div>

        <!-- Formulario para editar el correo -->
        <div id="formulario-editar-correo" class="formulario-editar" style="display: none;">
            <span class="close close-forms">&times;</span>
            <h1>Editar </h1>
            <input type="email" id="input-correo" class="inputInfoUsu">
            <button id="boton-guardar-correo" class="btnInfoUsu" onclick="enviarFormulario('correo')">
                <i id="IconContainerCorreo" class="fa-solid fa-circle-check"></i>
                <p class="text">Guardar</p>
            </button>
        </div>        



    {% include 'default/footer.html' %}    
    <script type="module" src="{% static 'js/publicaciones.js' %}"></script>
    <script src="{% static 'js/perfil.js' %}"></script>

    <!-- <script type="module" src="{% static 'js/perdidas.js' %}"></script> -->
        </body>
        </html>