{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <!--Intalar crooper-->
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>

        
        <link rel="stylesheet" type="text/css" href="{% static 'css/perfil.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/perdidas.css' %}">
        <script src="{% static 'js/perfil.js' %}"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <title>Perfil usuario</title>
    </head>
<body>
   {% include 'default/header.html' %}
    <main class="main">
        <div id="contenedor">
               
            <div id="contenido">
                <div id="contImg">
                    <img src="{% static 'img/fotoperfil.jpg' %}" id="imgperfil" data-modal="modal1">
                </div>
                <div id="perfil">
                    <h1>Nombre de usuario: {{ user.username }}</h1>
                    <div id="descripcion">
                        <h2>Descripción: <br><span id="texto-descripcion">{{ user.perfil.descripcion }}</span></h2>
                        <a id="enlace-editar" onclick="mostrarFormulario()">Editar descripción</a>
                        <!-- Este es el elemento oculto que contiene el formulario -->
                        <div id="formulario-editar" style="display: none;">
                            <textarea type="textarea" id="input-descripcion">{{ user.perfil.descripcion }}</textarea>
                            <button id="boton-guardar" onclick="enviarFormulario()">Guardar</button>
                        </div>
                    </div>
                </div>
                
                <div id="infoUsu">
                    <h1>Información de usuario</h1>
                    <ul>
                        <li><i class="fas fa-map-marker-alt"></i> Ubicación: {{ user.localidad }}</li>
                        <li><i class="fas fa-phone"></i> Contacto: <br> Telefono: {{ user.telefono }}, <br>Correo: {{ user.email }}</li>
                        <li><i class="fas fa-paw"></i> Mascotas Actuales: {{ user.perfil.num_mascotas }}</li>
                    </ul>
                </div>
                <div id="apartados">
                    <a href="">Publicaciones</a>
                    <a href="">Adopciones</a>
                </div>
                <div class="publi-container">
                    <div class="publi" id="publi">
                
                        <div class="contenido-publi">
                            <hr>
                            <div class="img-mascota-section">
                
                                <div class="img-mascota-contenedor">
                
                                    <img src="{% static 'img/publi-1.jpg' %}">
                
                                </div>
                            </div>
                
                            <hr>
                            <div class="info-mascota">
                
                                <div class="info-mascota-contenido">
                
                                    <div class="col1">
                
                                        <div class="dato">
                
                                            <p class="bold">Nombre: </p>
                                            <p> Mateo</p>
                                        </div>
                                        <div class="dato">
                
                                            <p class="bold">Raza: </p>
                                            <p> Labrador</p>
                                        </div>
                                        <div class="dato">
                
                                            <p class="bold">Color: </p>
                                            <p> Blanco y Dorado</p>
                                        </div>
                                    </div>
                
                                    <div class="col2">
                                        <div class="dato">
                
                                            <p class="bold">Fecha extravío: </p>
                                            <p>25-06-2023</p>
                                        </div>
                
                                        <div class="dato">
                
                                            <p class="bold">Barrio de extravío: </p>
                                            <p>Quiroga</p>
                                        </div>
                
                                        <div class="dato">
                
                                            <p class="bold">Localidad extravío: </p>
                                            <p>Rafael Uribe Uribe</p>
                                        </div>
                                    </div>
                                </div>
                
                            </div>
                
                            <hr>
                            <div class="datos-contacto">
                                <div class="datos-contacto-contenedor">
                
                                    <div class="dato">
                                        <p  class="bold">Nombre: </p>
                                        <p>Andrés Felipe Leal</p>
                                    </div>
                                    <div class="dato">
                                        <p  class="bold">Numero de telefono: </p>
                                        <p>3137525713</p>
                                    </div>
                
                                    <div class="dato">
                                        <p  class="bold">Correo Electronico: </p>
                                        <p>afleal34@gmail.com</p>
                                    </div>
                                </div>
                                <button class="btn verPubli">Ver mascota</button>
                            </div>   
                        </div>      
                    </div>

                <!--Aqui terminan las publicaciones-->
                </div>
            </div>
        </div>
        <!-- Div para mostrar img de perfil del usuario -->
        <div id="modal1" class="filtros-box">
                <div id="opciones">
                    <span class="close" id="close1">&times;</span>
                    <p>¿Qué quieres hacer con la imagen?</p>
                <div class="categoria-filtro">
                    <span>Ver imagen</span>
                </div>
                <div class="categoria-filtro">
                    <span>Cambiar imagen</span>
                    <input type="file" id="file-input" style="display: none;">
                </div>
            </div>
        </div>
          <!-- Este es el modal para mostrar la imagen en mayor tamaño -->
        <div id="modal-content" class="modal">
            <img src="{% static 'img/fotoperfil.jpg' %}" id="imgperfil-modal">
            <span class="close" id="close2">&times;</span>    
        </div>
        <!-- Este es el modal para el recortador de imágenes -->
        <div id="modal-cropper" class="modal">
            <!-- Este es el canvas para el recortador de imágenes -->
            <canvas id="canvas-cropper" class="cropper-canvas"></canvas>
            <span class="close" id="close3">&times;</span>
        </div>
          
    </main>    
    {% include 'default/footer.html' %}
    {% include 'default/menu.html' %}
       

        </body>
        </html>