{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <!--Intalar crooper-->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.css"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/cropperjs/1.5.12/cropper.min.js"></script>

        
        <link rel="stylesheet" type="text/css" href="{% static 'css/perfil.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/default.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/publicaciones.css' %}">



        
        
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
        <title>Perfil usuario</title>
    </head>
<body>
   {% include 'default/header.html' %}

   {% include 'publicaciones/ventanaModalPerdidas.html' %}
   {% include 'publicaciones/editarPubliPerdidas.html' %}

   {% include 'publicaciones/ventanaModalEncontradas.html' %}
   {% include 'publicaciones/editarPubliEncontradas.html' %}

   {% include 'publicaciones/ventanaModalAdopciones.html' %}
   {% include 'publicaciones/editarPubliAdopciones.html' %} 



   {% include 'publicaciones/eliminarPubli.html' %} 


   
    <main class="main">
        <div id="contenedor">
            
            <div id="contenido">
                <div id="contImg">
                  {% if usuario.perfil.imagen %} 
                  <img src="{{ usuario.perfil.imagen.url }}" id="imgperfil" data-modal="modal1">
                  {% else %} 
                  <img src="{% static 'img/fotoperfil.jpg' %}" id="imgperfil" data-modal="modal1">

                  {% endif %}
                </div>
                <div id="informacion-perfil">
                  <div id="perfil">
                    <h1>Nombre de usuario: {{ usuario.username }}</h1>
        
                    <div id="descripcion" class="descripcion">
                      <h2 class="descripcion">
                        Descripción:
                        <a id="enlace-editar" onclick="mostrarFormulario()"
                          ><i class="fa-solid fa-pencil"></i
                        ></a>
                      </h2>
        
                      <h2 class="descripcion">
                        <span id="texto-descripcion"
                          >{{ usuario.perfil.descripcion }}</span
                        >
                      </h2>
        
                      <!-- Este es el elemento oculto que contiene el formulario -->
                      <div id="formulario-editar" style="display: none">
                        <textarea type="textarea" id="input-descripcion">
        {{ usuario.perfil.descripcion }}</textarea
                        >
                        <button id="boton-guardar" onclick="enviarFormulario()">
                          <i id="IconContainer" class="fa-solid fa-circle-check"></i>
                          <p class="text">Guardar</p>
                        </button>
                      </div>
                    </div>
                  </div>
        
                  <div id="infoUsu">
                    <h1>Información de usuario</h1>
                    <ul>
                      <li>
                        <i class="fas fa-map-marker-alt"></i> Ubicación: {{usuario.localidad }}</li>
                      <li>
                        <i class="fas fa-phone"></i> Contacto: <br />
                        Telefono: {{ usuario.telefono }}, <br />Correo: {{ usuario.email }}
                      </li>
                      <li>
                        <i class="fas fa-paw"></i> Miembro desde: <br />
                        {{ usuario.perfil.fecha_creacion }}
                      </li>
                    </ul>
                  </div>



          


                <div class="publis-perfil">

                    <div  class="titulo-perdidas">
						<div class="titulo">
						<h2 style="color: #fff;">PUBLICACIONES</h2>
						<hr style="border: 1px #fff solid;">
						</div>
					</div>

                <div id="apartados">


                    

                    <div id="apartados-mascotas">
                    <label class="apartados-a-perfil" data-apartado="1">Perdidas</label>
                    <label class="apartados-a-perfil" data-apartado="2">Encontradas</label>
                    <label class="apartados-a-perfil" data-apartado="3">Adopciones</label>
                </div>

                <div id="label-favoritas">
                    <label href="" class="apartados-a-perfil" data-apartado="4">Favoritas</label>
                </div>

                </div>


                <div id="publicaciones">

                    <div id="apartados-contenedor">


					

                    <div id="perdidas" class="apartado-perfil">

					{% if perdidas|length == 0 %}


						<h1 style="color: #fff; background-color: none;  text-align: center;">¡El usuario no ha realizado publicaciones de mascotas perdidas!</h1>


					{% else %}


						{% for publicacion in perdidas %}
							
							{% include 'publicaciones/publicacionPerdidas.html' %}
							
						{% endfor %}

					{% endif %}


                    </div>

                    <div id="encontradas" class="apartado-perfil">

					{% if encontradas|length == 0 %}


						<h1 style="color: #fff; background-color: none;  text-align: center;">¡El usuario no ha realizado publicaciones de mascotas Encontradas!</h1>


					{% else %}

                     	{% for publicacion in encontradas %}
						
						 	{% include 'publicaciones/publicacionEncontradas.html' %}

            			{% endfor %}

					{% endif %}
                    </div>

                    <div id="adopciones" class="apartado-perfil">

						{% if adopciones|length == 0 %}


						<h1 style="color: #fff; background-color: none;  text-align: center;">¡El usuario no ha realizado publicaciones de mascotas en adopción!</h1>


						{% else %}


							{% for publicacion in adopciones %}

								{% include 'publicaciones/publicacionAdopciones.html' %}

							{% endfor %}

						{% endif %}
                    </div>

                    <div id="favoritas" class="apartado-perfil">

						{% if favoritas|length == 0 %}


						<h1 style="color: #fff; background-color: none;  text-align: center;">¡El usuario no ha agregado ninguna publicacion a favoritas!</h1>


						{% else %}

                        	{% for publicacion in favoritas %}
                        
                       			{% if publicacion.apartado == 'perdidas' %}

								   {% include 'publicaciones/publicacionPerdidas.html' %}
								   
                       			{% elif publicacion.apartado == 'encontradas' %}
								   						
								   {% include 'publicaciones/publicacionEncontradas.html' %}

                       			{% else %}

								   {% include 'publicaciones/publicacionAdopciones.html' %}


                        		{% endif %}

                        	{% endfor %}

						{% endif %}

						
                    </div>
                
                </div>
            
            </div>


            </div>
        </div>




		

        <!-- Div para mostrar opciones para la img de perfil del usuario -->
    <div id="modal1" class="filtros-box">
      <div id="opciones">
        <span class="close" id="close1">&times;</span>
        <p>¿Qué quieres hacer con la imagen?</p>
        <div class="categoria-filtro">
          <span>Ver imagen</span>
        </div>
        <div class="categoria-filtro" id="cambiarImg">
          <span>Cambiar imagen</span> <br>
        </div>
      </div>
    </div>
    
    <div id="modal-content" class="modal">
      {% if usuario.perfil.imagen %} 
                  <img src="{{ usuario.perfil.imagen.url }}" id="imgperfil" data-modal="modal1">
                  {% else %} 
                  <img src="{% static 'img/fotoperfil.jpg' %}" id="imgperfil" data-modal="modal1">

                  {% endif %}
      <span class="close" id="close2">&times;</span>
    </div>
    <!-- Este es el DIV para cambiar la imagen de perfil -->
    <div id="cont_imgForm" style="display: none;">
      <div id="img_perfilForm">
        <span class="close" id="close3">&times;</span>
        <h1>Cambiar imagen de perfil</h1>
        <hr>
        <div class="formularioPerfil">
          <form id="perfilForm" method="POST" enctype="multipart/form-data" action="{% url 'perfil' request.user.id %}">
            <img src="{% static 'img/subirImg.png' %}" id="imgsubir" />
            {% csrf_token %}
            <div style="display: none;">
              {{ form.as_p }}
            </div>
            <label id="file-input" class="subir-btn">  
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2" stroke="currentColor" aria-hidden="true">
                <path stroke-linecap="round" stroke-linejoin="round" d="M13.5 3H12H8C6.34315 3 5 4.34315 5 6V18C5 19.6569 6.34315 21 8 21H11M13.5 3L19 8.625M13.5 3V7.625C13.5 8.17728 13.9477 8.625 14.5 8.625H19M19 8.625V11.8125" stroke="#fffffff" stroke-width="2"></path>
                <path d="M17 15V18M17 21V18M17 18H14M17 18H20" stroke="#fffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
              </svg>
              Subir imagen
            </label>
            <input type="submit" id="btnSubir" value="Subir imagen" style="display: none;">
          </form>
        </div>
      </div>

    </div>
          
    </main>    
    {% include 'default/footer.html' %}

       
    <script src="{% static 'js/perfil.js' %}"></script>
    

    <script type="module" src="{% static 'js/publicaciones.js' %}"></script>
    <!-- <script type="module" src="{% static 'js/perdidas.js' %}"></script> -->
        </body>
        </html>