{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
    <title>Iniciar Sesión</title>
</head>
<body>
    <div id="imglogo">
        <img src="{% static 'img/logo.png' %}" id="logoimg">
    </div>
    <div id="content">
        <div>
            <div id="img">
                <img src="{% static 'img/user2.png' %}" width="150px">
            </div>
            <h1>Iniciar Sesión</h1>
            <div>
                <form id="forminicio" method="POST" action="{% url 'login' %}">
                    {% csrf_token %}
                    {{ form.non_field_errors }}
                <div class="grid1">
                    <div class="inputGrupo">
                        <label for="{{ form.username.id_for_label }}">Numero de documento</label>
                        {{ form.username }}
                        {{ form.username.errors }} 
                    </div>
                    <div class="inputGrupo">
                      <label for="{{ form.password.id_for_label }}">Contraseña</label>
                      {{ form.password }}
                      {{ form.password.errors }} 
                    </div>
                </div>
                <div class="grid2">
                    <div id="boton">
                        <input type="submit" value="Iniciar Sesión">
                    </div>
                </form>
                    <div>
                        <a href="{% url 'registrar' %}">No tengo una cuenta</a>
                    </div>
                        
                </div>
            </div>
        </div>
    </div>

    <!--Comprobar de que se ingrese texto en el input de username-->
    <script>
        document.addEventListener('DOMContentLoaded', (event) => {
        const formulario = document.getElementById('forminicio'); // Reemplaza con el ID de tu formulario
        const inputDocumento = document.getElementById('id_username'); // Reemplaza con el ID de tu input

        formulario.addEventListener('submit', function (e) {
            const valorDocumento = inputDocumento.value;
            if (isNaN(valorDocumento) || valorDocumento.trim() === '') {
                e.preventDefault(); // Evita que el formulario se envíe
                alert('Por favor, ingresa solo números en el campo de documento.');
                inputDocumento.focus(); // Coloca el foco en el campo de documento
            }
        });
    });

    </script>

</body>
</html>