{% load static %}
<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
        <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
        <script src="{% static 'js/mapa.js' %}"></script>
        <script type="module" src="{% static 'js/cargarBarrios.js' %}"></script>
        <title>Registrarse</title>
</head>
<body>
    <div id="imglogo">
        <img src="{% static 'img/logo.png' %}" id="logoimg">
    </div>
    <div id="content">
        <div id="img">
            <img src="{% static 'img/user.png' %}" width="200px">
        </div>
        <h1>Registrarse</h1>
        <form method="post" action="{% url 'registrar' %}">
            {% csrf_token %}
            {{ form.non_field_errors }}
            
        <div class="grid1">
            
            <div class="inputGrupo">
                <label for="{{ form.first_name.id_for_label }}">Nombre</label>
                {{ form.first_name }}
                {{ form.first_name.errors }} 
            </div>
            <div class="inputGrupo">
                <label for="{{ form.last_name.id_for_label }}">Apellido</label>
                {{ form.last_name }}
                {{ form.last_name.errors }} 
            </div>
            <div class="inputGrupo">
                <label for="{{ form.username.id_for_label }}">Nombre de usuario</label>
                {{ form.username }}
                {{ form.username.errors }} 
            </div>
            <div class="inputGrupo">
                <label for="{{ form.documento.id_for_label }}">Numero de Documento</label>
                {{ form.documento }}
                {{ form.documento.errors }}
            </div>
        </div>
        <div class="grid2">
            <div class="inputGrupo">
                <label for="{{ form.email.id_for_label }}">Correo</label>
                {{ form.email }}
                {{ form.email.errors }} 
            </div>
            <div class="inputGrupo">
                <label for="{{ form.telefono.id_for_label }}">Numero de telefono</label>
                {{ form.telefono }}
                {{ form.telefono.errors }} 
            </div>
            <div class="password">
                <div class="inputGrupo">
                    <label for="{{ form.password.id_for_label }}">Ingrese una contraseña</label>
                    {{ form.password }}
                    {{ form.password.errors }} 
                </div>
                    <img src="{% static 'img/eye.close.png' %}" alt="" class="eye" id="eye">
                </div>
            <div>
                <span>Seleccione su ubicación:</span>
                <button class="btn" type="button" id="btnObtenerUbicacion" onclick="obtenerUbicacion()">
                    <p class="paragraph"> Obtener Ubicación </p>
                    <span class="icon-wrapper">
                        <svg class="icon" width="35px" height="35px" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M12 2C9.243 2 7 4.243 7 7C7 10.131 11.542 15.153 11.862 15.5C11.964 15.648 12.036 15.648 12.138 15.5C12.458 15.153 17 10.131 17 7C17 4.243 14.757 2 12 2ZM12 9.5C10.619 9.5 9.5 8.381 9.5 7C9.5 5.619 10.619 4.5 12 4.5C13.381 4.5 14.5 5.619 14.5 7C14.5 8.381 13.381 9.5 12 9.5ZM12 5.5C11.172 5.5 10.5 6.172 10.5 7C10.5 7.828 11.172 8.5 12 8.5C12.828 8.5 13.5 7.828 13.5 7C13.5 6.172 12.828 5.5 12 5.5Z" fill="#ffff"></path>
                        </svg>
                    </span>
                </button>
                <div id="datosUbicacion" style="display: none;">
                    <input type="hidden" name="latitud" id="latitud">
                    <input type="hidden" name="longitud" id="longitud">
                </div>
                <div id="map" style="display: none;">
                    <script async src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDy5RZFqhkfKiKIBvRwiuQTtfn20VayQHA&callback=initMap"></script>
                </div>
            </div>
            <div id="selects" style="display: none;">
                <span>O si lo desea elijala usted mismo:</span>
                <div>
                    <label for="localidad">Elija su localidad*</label>
                    <select name="localidad" id="localidadesRegistro">
                        <option value="" selected disabled>Seleccione una localidad</option>
                        <option value="" default disabled>Localidad de extravío</option>
                        <option value="usaquen">Usaquén</option>
                        <option value="chapinero">Chapinero</option>
                        <option value="santa fe">Santa Fe</option>
                        <option value="san cristobal">San Cristóbal</option>
                        <option value="usme">Usme</option>
                        <option value="tunjuelito">Tunjuelito</option>
                        <option value="bosa">Bosa</option>
                        <option value="kennedy">Kennedy</option>
                        <option value="fontibon">Fontibón</option>
                        <option value="engativa">Engativá</option>
                        <option value="suba">Suba</option>
                        <option value="barrios unidos">Barrios Unidos</option>
                        <option value="teusaquillo">Teusaquillo</option>
                        <option value="los martires">Los Mártires</option>
                        <option value="antonio narino">Antonio Nariño</option>
                        <option value="puente aranda">Puente Aranda</option>
                        <option value="la candelaria">La Candelaria</option>
                        <option value="rafael uribe">Rafael Uribe</option>
                        <option value="ciudad bolivar">Ciudad Bolívar</option>
                    </select>
                </div>
                <div class="">
                    <label for="barrio">Elija su barrio*</label>
                    <select name="barrio" id="barriosRegistro">
                        <option>Seleccione un barrio</option>
                    </select>
                </div>
                
            </div>
        </div>
        <div class="grid3">
                <div>
                    <div id="mensaje">
                        {% if messages %}
                            {% for message in messages %}
                            <div class="notificacion {{ message.tags }}">
                                {{ message }}
                            </div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div id="boton">
                        <input type="submit" value="Registrarse">
                    </div>
                    <div>
                        <a href="">¿Has olvidado tu contraseña?</a>
                    </div>
                    <div>
                    <a href="{% url 'login' %}">Ya tengo cuenta</a>
                </div>
            </div>
        </div>
        </form>
        
    </div>
</body>
<script>
var eye = document.getElementById("eye");
  var password = document.getElementById("password");
  eye.addEventListener("click", function() {
    // Si el tipo de campo es password, lo cambia a text y cambia el src del elemento img por la imagen del ojo abierto
    if (password.type == "password") {
        password.type = "text";
        eye.src = "{% static 'img/eye.open.png' %}";
    // Si no, lo cambia a password y cambia el src del elemento img por la imagen del ojo cerrado
    } else {
        password.type = "password";
        eye.src = "{% static 'img/eye.close.png' %}";
    }
  });
</script>
</html>