{% load static %}

<link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/perdidas.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/perfil.css' %}">

<script src="https://kit.fontawesome.com/57b9ea98d3.js" crossorigin="anonymous"></script>





<div class="menu">
							
    <span class="fa-solid fa-filter"  id="filtrar"></span>

        

    <div class="filtros-box">
        <div class="categoria-filtro" id="filtro-color">
            <i class="fa-solid fa-droplet"></i>
            <p>Color</p>
            
        </div>
        <div class="categoria-filtro" id="filtro-raza">
            <i class="fa-solid fa-paw"></i>
            <p>Raza</p>
            
        </div>
        <div class="categoria-filtro" id="filtro-especie">
            <i class="fa-solid fa-dog"></i>

            <p>Especie</p>
            
        </div>
        <div class="categoria-filtro" id="filtro-localidad">
            <i class="fa-solid fa-map-location-dot"></i>
            <p>Localidad</p>
            
            
        </div>
        <div class="categoria-filtro" id="filtro-barrio">
            <i class="fa-solid fa-house"></i>
            <p>Barrio</p>
            
        </div>
        <div class="categoria-filtro" id="filtro-fechaPubli">
            <i class="fa-solid fa-calendar-days"></i>
            <p>Fecha de publicación</p>
            
        </div>


        <div class="filtros-box" id="subfiltros-box">
            
        </div>



</div>


    
    
    <span class="fa-solid fa-circle-plus" id="agregar"></span>
    <a href="{% url 'perfil' %}"><span class="fa-solid fa-user" id="favoritos"></span></a>

    

</div>	