
		<!-------------- EDITAR PUBLICACION------------------ -->


		<section class="contenedor-modelo-perdidas">
			<form method="post" action="" id="editarPubliPerdidas" class="publi-modelo-estilo" enctype="multipart/form-data">


				<input type="hidden" name="apartado" class="nombreApartado" value="perdidas">
				
				{% csrf_token %}
				
				<div class="publi-modelo-contenido">
					
					<h3>EDITAR PUBLICACION</h3>

					<span class="fa-solid fa-xmark icon-cancel" style="color: #fff;" ></span>

					<div class="inputs-img">

						


		<!-------------------- al final de cada id hay una 'e', de 'editar'.--------------------------- -->

						<div class="input-img">
							<label for="Peinput-img-6" >
								<div class="input-text">
									<img id="Pimgmas6" src="" alt="imagen mascota 1">
									<input type="file" accept="image/*" name="img1" id="Peinput-img-6" class="input-file" >

								</div>
							</label>
						</div>

						<div class="input-img">
							<label for="Peinput-img-7" >
								<div class="input-text">
									<img id="Pimgmas7" src="" alt="imagen mascota 2">
									<input type="file" accept="image/*" name="img2" id="Peinput-img-7" class="input-file" >

								</div>
							</label>
						</div>

							<div class="input-img">
							<label for="Peinput-img-8" >
								<div class="input-text">
									<img id="Pimgmas8" src="" alt="imagen mascota 3">
									<input type="file" accept="image/*" name="img3" id="Peinput-img-8" class="input-file" >

								</div>
							</label>
						</div>

						<div class="input-img">
							<label for="Peinput-img-9" >
								<div class="input-text">
									<img id="Pimgmas9" src="" alt="imagen mascota 4">
									<input type="file" accept="image/*" name="img4" id="Peinput-img-9" class="input-file" >

								</div>
							</label>
						</div>


						<div class="input-img">
							<label for="Peinput-img-10" >
								<div class="input-text">
									<img id="Pimgmas10" src="" alt="imagen mascota 5">
									<input type="file" accept="image/*" name="img5" id="Peinput-img-10" class="input-file" >

								</div>
							</label>
						</div>

					</div>



									<div class="datos-mascota">
										<div class="col1">
											<div class="dato">
												<label for="nombremaseP" class="bold">Nombre: </label>
												<input type="text" name="nombremas" placeholder="Nombre de la mascota" id="nombremaseP" class="input-mascota" required>
											</div>
											<div class="dato-select">
												<div class="label-selectMultiple">
												<label for="especiemaseP" class="mostrarSelect " >Especie<i class="fa-solid fa-caret-down mostrarSelect-flecha" style="color: #000; "></i></label></div>
												<select name="especiemas" id="especiemaseP"  class="select especiemase" required>
													<option value="" disabled>Seleccione una</option>
													<option value="perro" selected>Perro</option>
													<option value="gato">Gato</option>

												</select>

											</div>
											<div class="dato-select">
												<div class="label-selectMultiple">
												<label for="razamaseP" class="mostrarSelect" >Raza<i class="fa-solid fa-caret-down mostrarSelect-flecha" style="color: #000; "></i></label></div>
												<select name="razamas" id="razamaseP" class="select" required>
													

												</select>

											</div>

											<div class="dato-select">
												<div class="label-selectMultiple">
												<label for="tamañomaseP" class="mostrarSelect" >Tamaño<i class="fa-solid fa-caret-down mostrarSelect-flecha" style="color: #000; "></i></label></div>
												<select name="tamañomas" id="tamañomaseP" class="select" required>
													<option value="" default>Seleccione una</option>
													<option value="pequeño">pequeño</option>
													<option value="mediano">mediano</option>
													<option value="grande">grande</option>

												</select>

											</div>
											
											<div class="dato-select">
												<div class="label-selectMultiple">
												<label for="sexomaseP" class="mostrarSelect" >Sexo<i class="fa-solid fa-caret-down mostrarSelect-flecha" style="color: #000; "></i></label></div>
												<select name="sexomas" id="sexomaseP" class="select" required>
													<option value="">Seleccione una</option>
													<option value="macho">macho</option>
													<option value="hembra">hembra</option>

												</select>

											</div>

													
											<div class="dato-select">
												<div class="label-selectMultiple">
												<label for="colormaseP" class="mostrarSelect" >Color<i class="fa-solid fa-caret-down mostrarSelect-flecha" style="color: #000; "></i></label></div>
												<select name="colormas" id="colormaseP" class="select" required>
													<option value="" disabled default>seleccione uno</option>
													<option value="rojizo">Rojizo</option>
													<option value="naranja">Naranja</option>
													<option value="amarillo">Amarillo</option>
													<option value="dorado">Dorado</option>
													<option value="gris">Gris</option>
													<option value="marron">Marron</option>
													<option value="blanco">Blanco</option>
													<option value="negro">Negro</option>

												</select>

											</div>
											
											<div class="dato">
												<label for="edadmaseP" class="bold">Edad: </label>
												<input type="number" name="edadmas" id="edadmaseP" class="input-mascota" required>
											</div>
											<div class="dato">
												<label for="marcasmaseP" class="bold">Marcas distintivas: </label>
												<textarea name="marcasmas" id="marcasmaseP" cols="30" class="input-mascota" rows="2" required></textarea>
											</div>
											<div class="dato">
												<label for="accesoriosmaseP" class="bold">Accesorios: </label>
												<textarea name="accesoriosmas" id="accesoriosmaseP" cols="30" class="input-mascota" rows="2" required></textarea>
											</div>




										</div>
										<div class="col2">
											<div class="dato">
												<label for="enfermedadesmaseP" class="bold">Enfermedades: </label>
												<textarea name="enfermedadesmas" id="enfermedadesmaseP" cols="30"  class="input-mascota" rows="2" required></textarea>
											</div>
											<div class="dato-select">
												<div class="label-selectMultiple">
												<label for="esterilizacionmaseP" class="mostrarSelect">Esterilizacion<i class="fa-solid fa-caret-down mostrarSelect-flecha" style="color: #000; "></i></label></div>
												<select name="esterilizacionmas" id="esterilizacionmaseP"  class="select"  required >
													<option value="sí">Sí</option>
													<option value="no">No</option>

												</select>
											</div>
											
											<div class="dato">
												<label for="medicamentosmaseP" class="bold">Medicamentos: </label>
												<textarea name="medicamentosmas" id="medicamentosmaseP" placeholder="medicamentos o cuidados especificos" cols="30" class="input-mascota" rows="2" required></textarea>

											</div>
											<div class="dato-select">
												<div class="label-selectMultiple">
												<label for="vacunasmaseP" id="labelvacunasmaseP" class="mostrarSelect labelvacunasmase">Vacunas<i class="fa-solid fa-caret-down mostrarSelect-flecha" style="color: #000; "></i></label></div>
												<select name="vacunasmas" id="vacunasmaseP"  class="select"  multiple>
													

												</select>
											</div>
											<div class="dato-select">
												<div class="label-selectMultiple">
													<label for="localidadeseP" class="mostrarSelect">Localidad de extravío</label></div>
													<select name="localidadExtravio" id="localidadeseP" class="select localidadese" required>
															<option value="" default disabled>Localidad de extravío</option>
															<option value="usaquen">Usaquén</option>
															<option value="chapinero">Chapinero</option>
															<option value="santa fe">Santa Fe</option>
															<option value="san cristobal">San Cristóbal</option>
															<option value="usme">Usme</option>
															<option value="tunjuelito">Tunjuelito</option>
															<option value="bosa">Bosa</option>
															<option value="kennedy">Kennedy</option>
															<option value="fontibon">Fontibón</option>
															<option value="engativa">Engativá</option>
															<option value="suba">Suba</option>
															<option value="barrios unidos">Barrios Unidos</option>
															<option value="teusaquillo">Teusaquillo</option>
															<option value="los martires">Los Mártires</option>
															<option value="antonio narino">Antonio Nariño</option>
															<option value="puente aranda">Puente Aranda</option>
															<option value="la candelaria">La Candelaria</option>
															<option value="rafael uribe">Rafael Uribe</option>
															<option value="ciudad bolivar">Ciudad Bolívar</option>
														</select> 
												</div>
											


										
											<div class="dato-select">
												<div class="label-selectMultiple">
													<label for="barrioseP" class="mostrarSelect">Barrio de extravío</label></div>
													<select name="barrioExtravio" id="barrioseP" class="select" required>
														<option>Seleccione un barrio</option>
													</select>
											</div>

										
										<div class="dato">
											<label for="fechaExtravioe" class="bold">Fecha de extravío: </label>
											<input type="date" name="fechaExtravio"  id="fechaExtravioe" class="input-mascota" required>
										</div>

										<div class="dato">
											<label for="horaExtravioe" class="bold">Hora de extravío: </label>
											<input type="time" name="horaExtravio"  id="horaExtravioe" class="input-mascota" required>
										</div>

										<div class="dato">
											<label for="recompensaeP" class="bold">recompensa: </label>
											<input type="number" step="any" name="recompensa" placeholder="(opcional)" id="recompensaeP" class="input-mascota">
										</div>

										{% if form.errors %}
											<ul class="errorlist">
												{% for field in form %}
													{% for error in field.errors %}
														<li>{{ error }}</li>
													{% endfor %}
												{% endfor %}
											</ul>
										{% endif %}
									</div>
								</div>

								<hr>

								<div class="datos-contacto">
									<div class="datos-contacto-contenedor">

										<div class="dato">
											<p  class="bold">Nombre: </p>
											<p id="nombreDueñoeP"></p>
										</div>
										<div class="dato">
											<p  class="bold">Numero de telefono: </p>
											<p id="numeroDueñoeP"></p>
										</div>

										<div class="dato">
											<p  class="bold">Correo Electronico: </p>
											<p id="correoDueñoeP"></p>
										</div>

										<input type="submit" class="btn" value="Actualizar">

									</div>
								</div>

								

							</div>

						</div>



					</form>
				</section>
