<!-------------- EDITAR PUBLICACION------------------ -->


<section class="contenedor-modelo-adopciones">
    <form method="post" action="" id="editarPubliAdopciones" class="publi-modelo-estilo" enctype="multipart/form-data">

        {% csrf_token %}

        <div class="publi-modelo-contenido">

            <h3>EDITAR PUBLICACION</h3>

            <span class="fa-solid fa-xmark icon-cancel" style="color: #fff;" ></span>

            <div class="inputs-img">

                


<!-------------------- al final de cada id hay una 'e', de 'editar'.--------------------------- -->

                <div class="input-img">
                    <label for="einput-img-6" >
                        <div class="input-text">
                            <img id="imgmas6A" src="" alt="imagen mascota 1">
                            <input type="file" name="img1" id="einput-img-6" class="input-file" >

                        </div>
                    </label>
                </div>

                <div class="input-img">
                    <label for="einput-img-7" >
                        <div class="input-text">
                            <img id="imgmas7A" src="" alt="imagen mascota 2">
                            <input type="file" name="img2" id="einput-img-7" class="input-file" >

                        </div>
                    </label>
                </div>

                    <div class="input-img">
                    <label for="einput-img-8" >
                        <div class="input-text">
                            <img id="imgmas8A" src="" alt="imagen mascota 3">
                            <input type="file" name="img3" id="einput-img-8" class="input-file" >

                        </div>
                    </label>
                </div>

                <div class="input-img">
                    <label for="einput-img-9" >
                        <div class="input-text">
                            <img id="imgmas9A" src="" alt="imagen mascota 4">
                            <input type="file" name="img4" id="einput-img-9" class="input-file" >

                        </div>
                    </label>
                </div>


                <div class="input-img">
                    <label for="einput-img-10" >
                        <div class="input-text">
                            <img id="imgmas10A" src="" alt="imagen mascota 5">
                            <input type="file" name="img5" id="einput-img-10" class="input-file" >

                        </div>
                    </label>
                </div>





            </div>



                            <div class="datos-mascota">
                                <div class="col1">
                                    <div class="dato">
                                        <label for="nombremaseA" class="bold">Nombre: </label>
                                        <input type="text" name="nombremas" placeholder="Nombre de la mascota" id="nombremaseA" class="input-mascota" required>
                                    </div>
                                    <div class="dato-select">
                                        <div class="label-selectMultiple">
                                        <label for="especiemaseA" class="mostrarSelect" >Especie<i class="fa-solid fa-caret-down mostrarSelect-flecha" style="color: #000; "></i></label></div>
                                        <select name="especiemas" id="especiemaseA"  class="especiemase" required>
                                            <option value="" disabled>Seleccione una</option>
                                            <option value="perro" selected>Perro</option>
                                            <option value="gato">Gato</option>

                                        </select>

                                    </div>
                                    <div class="dato-select">
                                        <div class="label-selectMultiple">
                                        <label for="razamaseA" class="mostrarSelect" >Raza<i class="fa-solid fa-caret-down mostrarSelect-flecha" style="color: #000; "></i></label></div>
                                        <select name="razamas" id="razamaseA" class="select" required>
                                            

                                        </select>

                                    </div>

                                    <div class="dato-select">
                                        <div class="label-selectMultiple">
                                        <label for="tamañomaseA" class="mostrarSelect" >Tamaño<i class="fa-solid fa-caret-down mostrarSelect-flecha" style="color: #000; "></i></label></div>
                                        <select name="tamañomas" id="tamañomaseA" class="select" required>
                                            <option value="" default>Seleccione una</option>
                                            <option value="pequeño">pequeño</option>
                                            <option value="mediano">mediano</option>
                                            <option value="grande">grande</option>

                                        </select>

                                    </div>
                                    
                                    <div class="dato-select">
                                        <div class="label-selectMultiple">
                                        <label for="sexomaseA" class="mostrarSelect" >Sexo<i class="fa-solid fa-caret-down mostrarSelect-flecha" style="color: #000; "></i></label></div>
                                        <select name="sexomas" id="sexomaseA" class="select" required>
                                            <option value="">Seleccione una</option>
                                            <option value="macho">macho</option>
                                            <option value="hembra">hembra</option>

                                        </select>

                                    </div>

                                            
                                    <div class="dato-select">
                                        <div class="label-selectMultiple">
                                        <label for="colormaseA" class="mostrarSelect" >Color<i class="fa-solid fa-caret-down mostrarSelect-flecha" style="color: #000; "></i></label></div>
                                        <select name="colormas" id="colormaseA" class="select" required>
                                            <option value="" disabled default>seleccione uno</option>
                                            <option value="rojizo">Rojizo</option>
                                            <option value="naranja">Naranja</option>
                                            <option value="amarillo">Amarillo</option>
                                            <option value="dorado">Dorado</option>
                                            <option value="gris">Gris</option>
                                            <option value="marron">Marron</option>
                                            <option value="blanco">Blanco</option>
                                            <option value="negro">Negro</option>

                                        </select>

                                    </div>
                                    
                                    <div class="dato">
                                        <label for="edadmaseA" class="bold">Edad: </label>
                                        <input type="number" step="any" min="0" max="20" name="edadmas" id="edadmaseA" class="input-mascota" required>
                                    </div>
                                    <div class="dato">
                                        <label for="personalidadmaseA" class="bold">Personalidad: </label>
                                        <textarea name="personalidadmas" id="personalidadmaseA" cols="30" class="input-mascota" rows="2" required></textarea>
                                    </div>
                                    <div class="dato">
                                        <label for="entrenamientomaseA" class="bold">Entrenamiento: </label>
                                        <textarea name="entrenamientomas" id="entrenamientomaseA" cols="30" class="input-mascota" rows="2" required></textarea>
                                    </div>

                                    <div class="dato">
                                        <label for="socializacionmaseA" class="bold">Socialización: </label>
                                        <textarea name="socializacionmas" class="input-mascota" id="socializacionmaseA" cols="30"  rows="3" placeholder="Como se lleva la mascota con las personas, niños y otras mascotas?" required></textarea>
                                    </div>




                                </div>
                                <div class="col2">
                                    <div class="dato">
                                        <label for="enfermedadesmaseA" class="bold">Enfermedades: </label>
                                        <textarea name="enfermedadesmas" id="enfermedadesmaseA" cols="30"  class="input-mascota" rows="2" required></textarea>
                                    </div>
                                    <div class="dato-select">
                                        <div class="label-selectMultiple">
                                        <label for="esterilizacionmaseA" class="mostrarSelect">Esterilizacion<i class="fa-solid fa-caret-down mostrarSelect-flecha" style="color: #000; "></i></label></div>
                                        <select name="esterilizacionmas" id="esterilizacionmaseA"  class="select"  required >
                                            <option value="sí">Sí</option>
                                            <option value="no">No</option>

                                        </select>
                                    </div>
                                    
                                    <div class="dato">
                                        <label for="medicamentosmaseA" class="bold">Medicamentos: </label>
                                        <textarea name="medicamentosmas" id="medicamentosmaseA" placeholder="medicamentos o cuidados especificos" cols="30" class="input-mascota" rows="2" required></textarea>

                                    </div>
                                    <div class="dato-select">
                                        <div class="label-selectMultiple">
                                        <label for="vacunasmaseA" id="labelvacunasmaseA" class="mostrarSelect labelvacunasmase">Vacunas<i class="fa-solid fa-caret-down mostrarSelect-flecha" style="color: #000; "></i></label></div>
                                        <select name="vacunasmas" id="vacunasmaseA"  class="select"  multiple>
                                            

                                        </select>
                                    </div>


                                    <div class="dato">
                                        <label for="motivoAdopcione" class="bold">Motivo de adopción: </label>
                                        <textarea name="motivoAdopcion" class="input-mascota" id="motivoAdopcione" placeholder="¿Por qué se da a la mascota en adopción?" cols="30" rows="3" required></textarea>

                                    </div>

                                    <div class="dato">
                                        <label for="requisitosAdopcione" class="bold">Requisitos de adopción: </label>
                                        <textarea name="requisitosAdopcion" class="input-mascota" id="requisitosAdopcione" placeholder="¿Qué requisitos debe tener la otra persona para adoptar a la mascota?" cols="30" rows="4" required></textarea>

                                    </div>


                                    <div class="dato-select">
                                        <div class="label-selectMultiple">
                                            <label for="localidadeseA" class="mostrarSelect">Localidad de extravío</label></div>
                                            <select name="localidadAdopcion" id="localidadeseA" class="select localidadese" required>
                                                    <option value="" default disabled>Localidad de extravío</option>
                                                    <option value="usaquen">Usaquén</option>
                                                    <option value="chapinero">Chapinero</option>
                                                    <option value="santa fe">Santa Fe</option>
                                                    <option value="san cristobal">San Cristóbal</option>
                                                    <option value="usme">Usme</option>
                                                    <option value="tunjuelito">Tunjuelito</option>
                                                    <option value="bosa">Bosa</option>
                                                    <option value="kennedy">Kennedy</option>
                                                    <option value="fontibon">Fontibón</option>
                                                    <option value="engativa">Engativá</option>
                                                    <option value="suba">Suba</option>
                                                    <option value="barrios unidos">Barrios Unidos</option>
                                                    <option value="teusaquillo">Teusaquillo</option>
                                                    <option value="los martires">Los Mártires</option>
                                                    <option value="antonio narino">Antonio Nariño</option>
                                                    <option value="puente aranda">Puente Aranda</option>
                                                    <option value="la candelaria">La Candelaria</option>
                                                    <option value="rafael uribe">Rafael Uribe</option>
                                                    <option value="ciudad bolivar">Ciudad Bolívar</option>
                                                </select> 
                                        </div>
                                    


                                
                                    <div class="dato-select">
                                        <div class="label-selectMultiple">
                                            <label for="barrioseA" class="mostrarSelect">Barrio de extravío</label></div>
                                            <select name="barrioAdopcion" id="barrioseA" class="select" required>
                                                <option>Seleccione un barrio</option>
                                            </select>
                                    </div>

                                

                                {% if form.errors %}
                                    <ul class="errorlist">
                                        {% for field in form %}
                                            {% for error in field.errors %}
                                                <li>{{ error }}</li>
                                            {% endfor %}
                                        {% endfor %}
                                    </ul>
                                {% endif %}
                            </div>
                        </div>

                        <hr>

                        <div class="datos-contacto">
                            <div class="datos-contacto-contenedor">

                                <div class="dato">
                                    <p  class="bold">Nombre: </p>
                                    <p id="nombreDueñoeA"></p>
                                </div>
                                <div class="dato">
                                    <p  class="bold">Numero de telefono: </p>
                                    <p id="numeroDueñoeA"></p>
                                </div>

                                <div class="dato">
                                    <p  class="bold">Correo Electronico: </p>
                                    <p id="correoDueñoeA"></p>
                                </div>

                                <input type="submit" class="btn" value="Actualizar">

                            </div>
                        </div>

                        

                    </div>

                </div>



            </form>
        </section>
