{% load static %}



<section class="contenedor-modelo-adopciones">
    <div class="publi-modelo-estilo " id="publi-modelo-adopciones">

        <div class="publi-modelo-contenido">

            <span class="fa-solid fa-xmark icon-cancel"  style="color: #fff;" ></span>


            <div class="publi-carrusel">

                <div class="carrusel">


                    <div class="carrusel-section"><img  id="img2mA" src="">
                    

                    </div>
                    <div class="carrusel-section"><img id="img3mA"  src="">
                    

                    </div>
                    <div class="carrusel-section"><img id="img4mA"  src="">
                    

                    </div>
                    <div class="carrusel-section"><img  id="img5mA" src="">
                    

                    </div>

                    <div class="carrusel-btn carrusel-btn-right" id="btn-right">&#62;</div>
                    <div class="carrusel-btn carrusel-btn-left" id="btn-left">&#60;</div>

                </div>

            </div>


                <!--  En el id de cada <p>, la 'm' la final de cada id es de modelo -->
            <div class="datos-mascota">
                <div class="col1">
                    <div class="dato">
                        <p  class="bold">Nombre: </p>
                        <p id="nombremasmA" class="valorm"></p>
                        
                    </div>
                    <div class="dato">
                        <p  class="bold">Especie: </p>
                        <p id="especiemasmA" class="valorm"></p>
                        
                    </div>
                    <div class="dato">
                        <p  class="bold">Raza: </p>
                        <p id="razamasmA" class="valorm"></p>
                    </div>
                    <div class="dato">
                        <p  class="bold">Tamaño: </p>
                        <p id="tamañomasmA" class="valorm"></p>
                    </div>

                    <div class="dato">
                        <p  class="bold">Sexo: </p>
                        <p id="sexomasmA" class="valorm"></p>
                    </div>
                    <div class="dato">
                        <p  class="bold">Color: </p>
                        <p id="colormasmA" class="valorm"></p>
                    </div>
                    <div class="dato">
                        <p class="bold">Edad: </p>
                        <p id="edadmasmA" class="valorm"></p>
                    </div>
                    <div class="dato">
                        <p class="bold">Personalidad: </p>
                        <p id="personalidadmasmA" class="valorm"></p>
                    </div>
                    <div class="dato">
                        <p class="bold">Entrenamiento: </p>
                        <p id="entrenamientomasmA" class="valorm"></p>
                    </div>
                    <div class="dato">
                        <p class="bold">Socialización: </p>
                        <p id="socializacionmasmA" class="valorm"></p>
                    </div>



                </div>
                <div class="col2">
                    <div class="dato">
                        <p class="bold">Enfermedades: </p>
                        <p id="enfermedadesmasmA" class="valorm"></p>
                    </div>
                    <div class="dato">
                        <p class="bold">Esterilización: </p>
                        <p id="esterilizacionmasmA" class="valorm"></p>
                    </div>
                    <div class="dato">
                        <p class="bold">Medicamentos: </p>
                        <p id="medicamentosmasmA" class="valorm"></p>
                    </div>
                    <div class="dato">
                        <p class="bold">Vacunas: </p>
                        <p id="vacunasmasmA" class="valorm"></p>
                    </div>
                    <div class="dato">
                        <p class="bold">Motivo de adopción: </p>
                        <p id="motivoAdopcionm" class="valorm"></p>
                    </div>
                    <div class="dato">
                        <p class="bold">Requisitos de adopcion: </p>
                        <p id="requisitosAdopcionm" class="valorm"></p>
                    </div>
                    <div class="dato">
                        <p  class="bold">Localidad de adopción: </p>
                        <p id="localidadAdopcionm" class="valorm"></p>
                    </div>
                    <div class="dato">
                        <p  class="bold">Barrio de adopción: </p>
                        <p id="barrioAdopcionm" class="valorm"> </p>
                    </div>
                </div>
            </div>

            <hr>

            <div class="datos-contacto">
                <div class="datos-contacto-contenedor">

                    <div class="dato">
                        <p  class="bold">Nombre: </p>
                        <p id="nombreDueñoA"></p>
                    </div>
                    <div class="dato">
                        <p  class="bold">Numero de telefono: </p>
                        <p id="telefonoDueñoA"></p>
                    </div>

                    <div class="dato">
                        <p  class="bold">Correo Electronico: </p>
                        <p id="correoDueñoA"></p>
                    </div>
                </div>
                
            </div>

            <div class="comentarios">

            </div>

            

        </div>

    </div>

</section>



{% block content %}
{% endblock content %}

