{% load static %}



<section class="contenedor-modelo-adopciones">
    <div class="publi-modelo-estilo " id="publi-modelo-adopciones">

        <div class="publi-modelo-contenido">

            <span class="fa-solid fa-xmark icon-cancel"  style="color: #fff;" ></span>


            <div class="publi-carrusel">

                <div class="carrusel">


                    <div class="carrusel-section"><img  id="img2mA" src="">
                    

                    </div>
                    <div class="carrusel-section"><img id="img3mA"  src="">
                    

                    </div>
                    <div class="carrusel-section"><img id="img4mA"  src="">
                    

                    </div>
                    <div class="carrusel-section"><img  id="img5mA" src="">
                    

                    </div>

                    <div class="carrusel-btn carrusel-btn-right" id="btn-right">&#62;</div>
                    <div class="carrusel-btn carrusel-btn-left" id="btn-left">&#60;</div>

                </div>

            </div>


                <!--  En el id de cada <label>, la 'm' la final de cada id es de modelo -->
            <div class="datos-mascota">
                <div class="col1">
                    <div class="dato">
                        <label  class="bold">Nombre: </label>
                        <label id="nombremasmA" class="valorm"></label>
                        
                    </div>
                    <div class="dato">
                        <label  class="bold">Especie: </label>
                        <label id="especiemasmA" class="valorm"></label>
                        
                    </div>
                    <div class="dato">
                        <label  class="bold">Raza: </label>
                        <label id="razamasmA" class="valorm"></label>
                    </div>
                    <div class="dato">
                        <label  class="bold">Tamaño: </label>
                        <label id="tamañomasmA" class="valorm"></label>
                    </div>

                    <div class="dato">
                        <label  class="bold">Sexo: </label>
                        <label id="sexomasmA" class="valorm"></label>
                    </div>
                    <div class="dato">
                        <label  class="bold">Color: </label>
                        <label id="colormasmA" class="valorm"></label>
                    </div>
                    <div class="dato">
                        <label class="bold">Edad: </label>
                        <label id="edadmasmA" class="valorm"></label>
                    </div>
                    <div class="dato">
                        <label class="bold">Personalidad: </label>
                        <label id="personalidadmasmA" class="valorm"></label>
                    </div>
                    <div class="dato">
                        <label class="bold">Entrenamiento: </label>
                        <label id="entrenamientomasmA" class="valorm"></label>
                    </div>
                    <div class="dato">
                        <label class="bold">Socialización: </label>
                        <label id="socializacionmasmA" class="valorm"></label>
                    </div>



                </div>
                <div class="col2">
                    <div class="dato">
                        <label class="bold">Enfermedades: </label>
                        <label id="enfermedadesmasmA" class="valorm"></label>
                    </div>
                    <div class="dato">
                        <label class="bold">Esterilización: </label>
                        <label id="esterilizacionmasmA" class="valorm"></label>
                    </div>
                    <div class="dato">
                        <label class="bold">Medicamentos: </label>
                        <label id="medicamentosmasmA" class="valorm"></label>
                    </div>
                    <div class="dato">
                        <label class="bold">Vacunas: </label>
                        <label id="vacunasmasmA" class="valorm"></label>
                    </div>
                    <div class="dato">
                        <label class="bold">Motivo de adopción: </label>
                        <label id="motivoAdopcionm" class="valorm"></label>
                    </div>
                    <div class="dato">
                        <label class="bold">Requisitos de adopcion: </label>
                        <label id="requisitosAdopcionm" class="valorm"></label>
                    </div>
                    <div class="dato">
                        <label  class="bold">Localidad de adopción: </label>
                        <label id="localidadAdopcionm" class="valorm"></label>
                    </div>
                    <div class="dato">
                        <label  class="bold">Barrio de adopción: </label>
                        <label id="barrioAdopcionm" class="valorm"> </label>
                    </div>
                </div>
            </div>

            <hr>

            <div class="datos-contacto">
                <div class="datos-contacto-contenedor">

                    <div class="dato">
                        <label  class="bold">Nombre: </label>
                        <label id="nombreDueñoA"></label>
                    </div>
                    <div class="dato">
                        <label  class="bold">Numero de telefono: </label>
                        <label id="telefonoDueñoA"></label>
                    </div>

                    <div class="dato">
                        <label  class="bold">Correo Electronico: </label>
                        <label id="correoDueñoA"></label>
                    </div>
                </div>
                
            </div>

            <hr>

            <div class="comentarios" >

                <div id="comentariosAdopciones" class="comentarios-contenedor">


                    
                </div>

                
                <form class="comentarios-form" method="POST" id="comentariosAdopcionesForm">

                    {% csrf_token %}


                    <div class="img-usuario-contenedor">
                        {% if user.perfil.imagen %} 
                            <img src="{{ user.perfil.imagen.url }}" alt="" class="img-usuario">
                            {% else %} 
                            <img src="{% static 'img/fotoperfil.jpg' %}" alt="" class="img-usuario">
                        {% endif %}
                    </div>
                    <input type="text" name="comentario" id="comentarioAdopciones"  placeholder="escribe tu comentario" class="comentario-input" required>
                    {% if user.is_authenticated %}
                    <label for="enviar-comentario-adopciones"><input type="submit" id="enviar-comentario-adopciones"  class="enviar-comentario"><i class="fa-solid fa-paper-plane" style="color: #587073; cursor: pointer;"></i></label>
                    {% else %}
                    <a href="{% url 'login' %}"><label for="enviar-comentario-adopciones"><input type="submit" id="enviar-comentario-adopciones"  class="enviar-comentario"><i class="fa-solid fa-paper-plane" style="color: #587073; cursor: pointer;"></i></label></a>

                    {% endif %}
    
                </form>
                
    
            </div>

            

        </div>

    </div>

</section>



{% block content %}
{% endblock content %}

