{% load static %}

<section class="contenedor-modelo-encontradas">
    <div class="publi-modelo-estilo " id="publi-modelo-encontradas">

        <div class="publi-modelo-contenido">

            <span class="fa-solid fa-xmark icon-cancel"  style="color: #fff;" ></span>


            <div class="publi-carrusel">

                <div class="carrusel">


                    <div class="carrusel-section"><img  id="img2mE" src="">
                    

                    </div>
                    <div class="carrusel-section"><img id="img3mE"  src="">
                    

                    </div>
                    <div class="carrusel-section"><img id="img4mE"  src="">
                    

                    </div>
                    <div class="carrusel-section"><img  id="img5mE" src="">
                    

                    </div>

                    <div class="carrusel-btn carrusel-btn-right" id="btn-right">&#62;</div>
                    <div class="carrusel-btn carrusel-btn-left" id="btn-left">&#60;</div>

                </div>

            </div>


                <!--  En el id de cada <label>, la 'm' la final de cada id es de modelo -->
            <div class="datos-mascota">
                <div class="col1">
                
                    <div class="dato">
                        <label  class="bold">Especie: </label>
                        <label id="especiemasmE" class="valorm"></label>
                        
                    </div>
                    <div class="dato">
                        <label  class="bold">Raza: </label>
                        <label id="razamasmE" class="valorm"></label>
                    </div>
                    <div class="dato">
                        <label  class="bold">Tamaño: </label>
                        <label id="tamañomasmE" class="valorm"></label>
                    </div>

                    <div class="dato">
                        <label  class="bold">Sexo: </label>
                        <label id="sexomasmE" class="valorm"></label>
                    </div>
                    <div class="dato">
                        <label  class="bold">Color: </label>
                        <label id="colormasmE" class="valorm"></label>
                    </div>
                    <div class="dato">
                        <label  class="bold">Marcas distintivas: </label>
                        <label id="marcasmasmE" class="valorm"></label>
                    </div>
                    <div class="dato">
                        <label  class="bold">Accesorios: </label>
                        <label id="accesoriosmasmE" class="valorm"></label>
                    </div>


                </div>
                <div class="col2">
                    <div class="dato">
                        <label class="bold">Enfermedades: </label>
                        <label id="enfermedadesmasmE" class="valorm"></label>
                    </div>
                    <div class="dato">
                        <label class="bold">Esterilización: </label>
                        <label id="esterilizacionmasmE" class="valorm"></label>
                    </div>
                   
                 
                    <div class="dato">
                        <label  class="bold">Localidad de encuentro: </label>
                        <label id="localidadEncuentrom" class="valorm"></label>
                    </div>
                    <div class="dato">
                        <label  class="bold">Barrio de encuentro: </label>
                        <label id="barrioEncuentrom" class="valorm"> </label>
                    </div>
                    <div class="dato">
                        <label  class="bold">Fecha de encuentro: </label>
                        <label id="fechaEncuentrom" class="valorm"></label>
                    </div>
                    <div class="dato">
                        <label  class="bold">Hora de encuentro: </label>
                        <label id="horaEncuentrom" class="valorm"></label>
                    </div>
                  
                </div>
            </div>

            <hr>

            <div class="datos-contacto">
                <div class="datos-contacto-contenedor">

                    <div class="dato">
                        <label  class="bold">Nombre: </label>
                        <label id="nombreDueñoE"></label>
                    </div>
                    <div class="dato">
                        <label  class="bold">Numero de telefono: </label>
                        <label id="telefonoDueñoE"></label>
                    </div>

                    <div class="dato">
                        <label  class="bold">Correo Electronico: </label>
                        <label id="correoDueñoE"></label>
                    </div>
                </div>
                
            </div>

            <hr>

            <div class="comentarios" >

                <div id="comentariosEncontradas" class="comentarios-contenedor">

                    
                </div>

                
                <form class="comentarios-form" method="POST" id="comentariosEncontradasForm">

                    {% csrf_token %}


                    <div class="img-usuario-contenedor">
                        {% if user.perfil.imagen %} 
                            <img src="{{ user.perfil.imagen.url }}" alt="" class="img-usuario">
                            {% else %} 
                            <img src="{% static 'img/fotoperfil.jpg' %}" alt="" class="img-usuario">
                        {% endif %}
                    </div>
                    <input type="text" name="comentario" id="comentarioEncontradas"  placeholder="escribe tu comentario" class="comentario-input" required>
                    <label for="enviar-comentario-encontradas"><input type="submit" id="enviar-comentario-encontradas"  class="enviar-comentario"><i class="fa-solid fa-paper-plane" style="color: #587073; cursor: pointer;"></i></label>
                    
    
                </form>
                
    
            </div>

            

        </div>

    </div>

</section>