{% load static %}



<section class="contenedor-modelo-perdidas">
    <div class="publi-modelo-estilo " id="publi-modelo-perdidas">

        <div class="publi-modelo-contenido">

            <span class="fa-solid fa-xmark icon-cancel"  style="color: #fff;" ></span>

            <div class="publi-carrusel">

                <div class="carrusel">


                    <div class="carrusel-section"><img  id="img2mP" src="">
                    

                    </div>
                    <div class="carrusel-section"><img id="img3mP"  src="">
                    

                    </div>
                    <div class="carrusel-section"><img id="img4mP"  src="">
                    

                    </div>
                    <div class="carrusel-section"><img  id="img5mP" src="">
                    

                    </div>

                    <div class="carrusel-btn carrusel-btn-right" id="btn-right">&#62;</div>
                    <div class="carrusel-btn carrusel-btn-left" id="btn-left">&#60;</div>

                </div>

            </div>


                <!--  En el id de cada <p>, la 'm' la final de cada id es de modelo -->
            <div class="datos-mascota">
                <div class="col1">
                    <div class="dato">
                        <label  class="bold">Nombre: </label>
                        <label id="nombremasmP" class="valorm"></label>
                        
                    </div>
                    <div class="dato">
                        <label  class="bold">Especie: </label>
                        <label id="especiemasmP" class="valorm"></label>
                        
                    </div>
                    <div class="dato">
                        <label  class="bold">Raza: </label>
                        <label id="razamasmP" class="valorm"></label>
                    </div>
                    <div class="dato">
                        <label  class="bold">Tamaño: </label>
                        <label id="tamañomasmP" class="valorm"></label>
                    </div>

                    <div class="dato">
                        <label  class="bold">Sexo: </label>
                        <label id="sexomasmP" class="valorm"></label>
                    </div>
                    <div class="dato">
                        <label  class="bold">Color: </label>
                        <label id="colormasmP" class="valorm"></label>
                    </div>
                    <div class="dato">
                        <label class="bold">Edad: </label>
                        <label id="edadmasmP" class="valorm"></label>
                    </div>
                    <div class="dato">
                        <label  class="bold">Marcas distintivas: </label>
                        <label id="marcasmasmP" class="valorm"></label>
                    </div>
                    <div class="dato">
                        <label  class="bold">Accesorios: </label>
                        <label id="accesoriosmasmP" class="valorm"></label>
                    </div>


                </div>
                <div class="col2">
                    <div class="dato">
                        <label class="bold">Enfermedades: </label>
                        <label id="enfermedadesmasmP" class="valorm"></label>
                    </div>
                    <div class="dato">
                        <label class="bold">Esterilización: </label>
                        <label id="esterilizacionmasmP" class="valorm"></label>
                    </div>
                    <div class="dato">
                        <label class="bold">Medicamentos: </label>
                        <label id="medicamentosmasmP" class="valorm"></label>
                    </div>
                    <div class="dato">
                        <label class="bold">Vacunas: </label>
                        <label id="vacunasmasmP" class="valorm"></label>
                    </div>
                    <div class="dato">
                        <label  class="bold">Localidad de extravío: </label>
                        <label id="localidadExtraviom" class="valorm"></label>
                    </div>
                    <div class="dato">
                        <label  class="bold">Barrio de extravío: </label>
                        <label id="barrioExtraviom" class="valorm"> </label>
                    </div>
                    <div class="dato">
                        <label  class="bold">Fecha de extravío: </label>
                        <label id="fechaExtraviom" class="valorm"></label>
                    </div>
                    <div class="dato">
                        <label  class="bold">Hora de extravío: </label>
                        <label id="horaExtraviom" class="valorm"></label>
                    </div>
                    <div class="dato">
                        <label  class="bold">Recompensa: </label>
                        <label id="recompensam" class="valorm"></label>
                    </div>
                </div>
            </div>

            <hr>

            <div class="datos-contacto">
                <div class="datos-contacto-contenedor">

                    <div class="dato">
                        <label  class="bold">Nombre: </label>
                        <label id="nombreDueñoP"></label>
                    </div>
                    <div class="dato">
                        <label  class="bold">Numero de telefono: </label>
                        <label id="telefonoDueñoP"></label>
                    </div>

                    <div class="dato">
                        <label  class="bold">Correo Electronico: </label>
                        <label id="correoDueñoP"></label>
                    </div>
                </div>
                
            </div>

            <hr>

            <div class="comentarios" >

                <div id="comentariosPerdidas" class="comentarios-contenedor">


                    
                </div>

               
                    
                
                    <form class="comentarios-form" method="POST" id="comentariosPerdidasForm">

                        {% csrf_token %}


                        <div class="img-usuario-contenedor">
                            {% if user.perfil.imagen %} 
                                <img src="{{ user.perfil.imagen.url }}" alt="" class="img-usuario">
                                {% else %} 
                                <img src="{% static 'img/fotoperfil.jpg' %}" alt="" class="img-usuario">
                            {% endif %}
                        </div>
                        <input type="text" name="comentario" id="comentarioPerdidas"  placeholder="escribe tu comentario" class="comentario-input" required>
                       
                        <label for="enviar-comentario-perdidas"><input type="submit" id="enviar-comentario-perdidas"  class="enviar-comentario"><i class="fa-solid fa-paper-plane" style="color: #587073; cursor: pointer;"></i></label>
                        
        
                    </form>




                
    
            </div>


            

        </div>

        


    </div>

</section>