{% load static %}



<section class="contenedor-modelo-perdidas">
    <div class="publi-modelo-estilo " id="publi-modelo-perdidas">

        <div class="publi-modelo-contenido">

            <span class="fa-solid fa-xmark icon-cancel"  style="color: #fff;" ></span>

            <div class="publi-carrusel">

                <div class="carrusel">


                    <div class="carrusel-section"><img  id="img2mP" src="">
                    

                    </div>
                    <div class="carrusel-section"><img id="img3mP"  src="">
                    

                    </div>
                    <div class="carrusel-section"><img id="img4mP"  src="">
                    

                    </div>
                    <div class="carrusel-section"><img  id="img5mP" src="">
                    

                    </div>

                    <div class="carrusel-btn carrusel-btn-right" id="btn-right">&#62;</div>
                    <div class="carrusel-btn carrusel-btn-left" id="btn-left">&#60;</div>

                </div>

            </div>


                <!--  En el id de cada <p>, la 'm' la final de cada id es de modelo -->
            <div class="datos-mascota">
                <div class="col1">
                    <div class="dato">
                        <p  class="bold">Nombre: </p>
                        <p id="nombremasmP" class="valorm"></p>
                        
                    </div>
                    <div class="dato">
                        <p  class="bold">Especie: </p>
                        <p id="especiemasmP" class="valorm"></p>
                        
                    </div>
                    <div class="dato">
                        <p  class="bold">Raza: </p>
                        <p id="razamasmP" class="valorm"></p>
                    </div>
                    <div class="dato">
                        <p  class="bold">Tamaño: </p>
                        <p id="tamañomasmP" class="valorm"></p>
                    </div>

                    <div class="dato">
                        <p  class="bold">Sexo: </p>
                        <p id="sexomasmP" class="valorm"></p>
                    </div>
                    <div class="dato">
                        <p  class="bold">Color: </p>
                        <p id="colormasmP" class="valorm"></p>
                    </div>
                    <div class="dato">
                        <p class="bold">Edad: </p>
                        <p id="edadmasmP" class="valorm"></p>
                    </div>
                    <div class="dato">
                        <p  class="bold">Marcas distintivas: </p>
                        <p id="marcasmasmP" class="valorm"></p>
                    </div>
                    <div class="dato">
                        <p  class="bold">Accesorios: </p>
                        <p id="accesoriosmasmP" class="valorm"></p>
                    </div>


                </div>
                <div class="col2">
                    <div class="dato">
                        <p class="bold">Enfermedades: </p>
                        <p id="enfermedadesmasmP" class="valorm"></p>
                    </div>
                    <div class="dato">
                        <p class="bold">Esterilización: </p>
                        <p id="esterilizacionmasmP" class="valorm"></p>
                    </div>
                    <div class="dato">
                        <p class="bold">Medicamentos: </p>
                        <p id="medicamentosmasmP" class="valorm"></p>
                    </div>
                    <div class="dato">
                        <p class="bold">Vacunas: </p>
                        <p id="vacunasmasmP" class="valorm"></p>
                    </div>
                    <div class="dato">
                        <p  class="bold">Localidad de extravío: </p>
                        <p id="localidadExtraviom" class="valorm"></p>
                    </div>
                    <div class="dato">
                        <p  class="bold">Barrio de extravío: </p>
                        <p id="barrioExtraviom" class="valorm"> </p>
                    </div>
                    <div class="dato">
                        <p  class="bold">Fecha de extravío: </p>
                        <p id="fechaExtraviom" class="valorm"></p>
                    </div>
                    <div class="dato">
                        <p  class="bold">Hora de extravío: </p>
                        <p id="horaExtraviom" class="valorm"></p>
                    </div>
                    <div class="dato">
                        <p  class="bold">Recompensa: </p>
                        <p id="recompensam" class="valorm"></p>
                    </div>
                </div>
            </div>

            <hr>

            <div class="datos-contacto">
                <div class="datos-contacto-contenedor">

                    <div class="dato">
                        <p  class="bold">Nombre: </p>
                        <p id="nombreDueñoP"></p>
                    </div>
                    <div class="dato">
                        <p  class="bold">Numero de telefono: </p>
                        <p id="telefonoDueñoP"></p>
                    </div>

                    <div class="dato">
                        <p  class="bold">Correo Electronico: </p>
                        <p id="correoDueñoP"></p>
                    </div>
                </div>
                
            </div>

            <div class="comentarios">

            </div>

            

        </div>

    </div>

</section>