@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap');
* {
  font-family: "Roboto", sans-serif;
}
header {
  width: 100%;
  height: 70px;
  position: fixed;
  z-index: 100;
}
#logo {
  width: 300px;
  height: auto;
  margin-left: 30px;
}
.icon-menu {
  padding: 15px;
  width: 100;
}

/*--------------------Estilo del main----------------*/
#contenedor {
  margin-top: 90px;
}

#contenido {
  position: relative;
  border-radius: 15px;
  padding: 20px;
  background-color: #657174;
  margin: 10% 3% 1% 3%;
  z-index: 0;
}

/*-------Div cambiar imagen de perfil-------*/
#cont_imgForm{
  position: absolute;
  background: #1b1f21f2;
  width: 100%;
  height: 100%;
  top: 0;
  align-items: center;
  justify-content: center;
}
#img_perfilForm {
  background-color: #f0f0f0; 
  border-radius: 8px;
  padding: 50px; 
}

.formularioPerfil {
  background-color: #fff; 
  padding: 15px;
  border-radius: 8px;
  text-align: center;
}
#imgsubir{
  width: 300px;
  height: auto;
}
#file-input{
  cursor: pointer;
  border: none;
  display: flex;
  padding: 0.75rem 1.5rem;
  background-color: #488aec;
  color: #ffffff;
  font-size: 0.75rem;
  line-height: 1rem;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  vertical-align: middle;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
  border-radius: 0.5rem;
  user-select: none;
  gap: 0.75rem;
  box-shadow: 0 4px 6px -1px #488aec31, 0 2px 4px -1px #488aec17;
  transition: all .6s ease;
}

#file-input:hover {
  box-shadow: 0 10px 15px -3px #488aec, 0 4px 6px -2px #488aec80;
}

#file-input:focus,#file-input:active {
  opacity: .85;
  box-shadow: none;
}

#file-input svg {
  width: 1.25rem;
  height: 1.25rem;
}

#btnSubir {
  --color: #0077ff;
  font-family: inherit;
  display: inline-block;
  width: 6em;
  height: 2.6em;
  line-height: 2.5em;
  overflow: hidden;
  margin: 20px;
  font-size: 17px;
  z-index: 1;
  color: black;
  border: 2px solid #0077ff;
  border-radius: 6px;
  position: relative;
}

#btnSubir:hover {
  font-weight: bold;
  color: black ;
  background: #0077ff;
}


/*-------Boton editar descripcion-------*/
#enlace-editar {
  display: inline-flex;
  width: 24px;
  height: 24px;
}

#enlace-editar::before {
  display: inline-flex;
  width: 24px;
  height: 24px;
}

/*-------input editar descripcion-------*/
#descripcion {
  word-wrap: break-word;
  position: relative;
  width: 99%;
}
#input-descripcion {
  width: 100%;
  height: 100%;
  resize: none;
  color: #d3d3d3;
  position: absolute;
  font-size: 1.5rem;
  top: 30px;
  font-weight: bold;
  left: 0;
  border-radius: 5px;
  padding: 5px;
  border: 1px solid #292929;
  background-color: #657174;
}

#boton-guardar {
    position: absolute;
    bottom: -75px;
    left: 0;
    width: 100px;
    height: 40px;
    border-radius: 40px;
    border: 1px solid rgba(255, 255, 255, 0.349);
    background-color: rgb(211 211 211);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition-duration: 0.3s;
    overflow: hidden;
}

#IconContainer {
  width: 30px;
  height: 30px;
  background: rgb(255 255 255);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  z-index: 2;
  transition-duration: 0.3s;
}

.text {
  height: 100%;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black;
  z-index: 1;
  transition-duration: 0.3s;
  font-size: 1.04em;
}

#boton-guardar:hover .IconContainer {
  width: 90px;
  border-radius: 40px;
  transition-duration: 0.3s;
}

#boton-guardar:hover .text {
  transform: translate(10px);
  width: 0;
  font-size: 0;
  transition-duration: 0.3s;
}

#boton-guardar:active {
  transform: scale(0.95);
  transition-duration: 0.3s;
}

.descripcion {
  text-align: left;
  color: #d3d3d3;
}

/*-------imagen de perfil-------*/

#imgperfil {
  border: 3px solid black;
  border-radius: 50%;
  width: 300px; /* Ancho fijo para la imagen */
  height: 300px; /* Alto fijo para la imagen */
  object-fit: cover; /* Ajusta el contenido gráfico del elemento para cubrir el área del contenedor */
  display: block; /* Asegúrate de que la imagen sea un bloque para aplicar el ancho y alto */
  margin: auto; /* Centra la imagen horizontalmente dentro del contenedor */
}

#contImg {
  z-index: -1;
  margin: auto;
  width: 25%;
  height: 0;
  max-width: 350px;
  position: absolute;
  top: -120px;
  margin-top: calc(1 + 70px);
  left: 10%;
  transition: scale 2s;
  /* Añade un padding-bottom para mantener la relación de aspecto del círculo */
  padding-bottom: 25%;
  box-sizing: border-box; /* Incluye el padding y border en el ancho y alto del elemento */
}

#contImg :hover {
  scale: 1.1;
  cursor: pointer;
}


/*Mostrar img de perfil*/

#modal1 {
  z-index: 1000;
  top: 25%;
  margin-left: 30%;
  max-width: 30%;
  border: 2px solid black;
}

.categoria-filtro {
  justify-content: center;
  cursor: pointer;
}

.categoria-filtro:hover{
  border: 2px solid white;
  cursor: pointer;
}

.close {
  color: #aa0000;
  z-index: 100;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

#close2 {
  margin-top: 100px;
  font-size: 50px;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

#modal-content {
  display: none;
  position: absolute;
  justify-content: center;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 128, 128, 0.63);
}

#imgperfil-modal {
  padding: 100px;
}

#perfil {
  position: relative;
  margin-top: 15%;
  margin-bottom: 20px;
  width: 70%;
  text-align: left;
  float: left;
  color: white;
  font-size: 1em;
  bottom: calc(100% - 300px);
}

h2 {
  text-align: left;
  color: #d3d3d3;
}

#infoUsu {
  font-size: 1.1em;
  text-align: center;
  width: 30%;
  min-height: 30%;
  float: right;
  background-color: #d3d3d3;
  border-radius: 10px;
  padding: 10px;
}

ul,
li {
  font-size: 1.1em;
  margin: 20px auto 50px 3%;
  list-style: none;
  text-align: left;
}

#apartados {
  clear: both;
  padding: 30px 0 50px;
  font-size: 1.5em;
  text-align: left;
}

a {
  margin-right: 30px;
  text-decoration: none;
  color: white;
}

.publi-container {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.publi {
  width: 300px;
  height: auto;
  background: #faf7f6;
  box-shadow: 5px 5px 5px 5px #a7bab9;
  margin-bottom: 20px;
  margin-right: 5px;
  margin-left: 5px;
  border-radius: 20px;
  z-index: 0;
}

@media screen and (min-width: 767px) and (max-width: 1023px) {
  nav ul {
    width: 35%;
  }

  #checkbox:checked ~ nav {
    transform: translateX(65%);
  }
  nav li {
    font-size: 0.9em;
  }

  #fotoperfil {
    width: 30%;
  }

  #perfil,
  #infoUsu {
    font-size: 0.8em;
  }

  #contenedor {
    margin-top: 110px;
  }
}

@media screen and (max-width: 766px) {
  header {
    width: 100%;
    height: 50px;
  }
  #logo {
    width: 200px;
    height: auto;
    margin-left: 5px;
  }
  .icon-menu {
    padding: 5px;
  }

  nav {
    transform: translateX(100%);
    top: 30px;
  }
  nav ul {
    width: 100%;
    max-height: calc(100vh - 95px);
    border-radius: 0px;
    transition: transform 0.5s;
  }

  nav a {
    text-decoration: none;
    color: white;
  }

  #checkbox:checked ~ nav {
    display: block;
    transform: translateX(-3%);
  }

  nav li {
    text-align: center;
    padding: 15px;
    font-size: 1em;
  }

  #fotoperfil {
    width: 30%;
    height: auto;
  }

  #contenedor {
    margin-top: 130px;
  }

  #contImg {
    left: 50%;
    transform: translateX(-50%);
    width: 45%;
    max-width: 200px;
  }

  #perfil {
    width: 100%;
    font-size: 0.8em;
  }
  #perfil h1 {
    text-align: center;
  }

  #infoUsu {
    font-size: 0.8em;
    width: 100%;
  }

  #infoUsu ul,
  li {
    font-size: 1.1em;
  }

  #apartados {
    padding: 30px 0 30px;
    font-size: 1.3em;
    text-align: left;
  }
  #modal1 {
    font-size: 1.2rem;
    max-width: 100%;
    width: 100%;
    height: 100%;
    max-height: 200px;
    top: 35%;
    margin: 0;
  }
}
