*{

	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: Garamond;
}


body{
	width: 100%;
	background: #faf7f6;
	position:relative;
}

main{
	background-color: #faf7f6;
	width: 100%;
	margin: auto;
	
	
}

#main-banner{
	padding: 20px;
}

.slider-img{
	width: 100%;
	border-radius: 10px;

	
}

.slider-frame{
	margin-top: 10px;
	width: 100%;
	height: auto;


	animation: slide 15s infinite alternate ;

	border-radius: 20px;

	

}


.slider-frame ul {

	display: flex;
	padding: 0;
	width: 400%;

}

.slider-frame li {

list-style: none;
width: 100%;

}

@keyframes slide{
	0%{margin-left: 0%}
	20%{margin-left: 0%}

	25%{margin-left: -100%}
	45%{margin-left: -100%}

	50%{margin-left: -200%}
	70%{margin-left: -200%}

	75%{margin-left: -300%}
	95%{margin-left: -300%}
}




#banner-texts{
	z-index: 0;
	width: 100%;
	color: #74868a;
	font-family: monospace;
	text-align: left;
	line-height: 1.5;
	padding: 10px;
	position: static;
	display: flex;
	justify-content: space-between;
	align-items: center;
}/**




#banner-text span{
	
	position: absolute;
	right: 0;
	width: 0;
	background-color: #74868a;
	border-left: 1px solid #000;

	animation: maquina 5s infinite alternate;
}


@keyframes maquina{
	from{
		width: 100%;
	} to{
		width: 0;
	}




	
	
	}



**/

	

	

	#banner-text-p{
		width: 60%;


	}


#banner-text-btn{
	
	width: 40%;
	height: 100%;
	align-items: center;
	display: flex;
	align-content: center;
	text-align: center;
	padding: 10px;
	
	

	
	
	
	

	

}


.btn{
	margin: auto;
	text-decoration: none;
	color: #ffff;
	padding: 10px;
	
	background: #74868a  ;
	cursor: pointer;
	
	
	width: auto;
	border-radius: 10px;
	line-height: 1;

	
	
	text-align: center;
	font-size: 15px;
	transition: all 0.5s;

	font-weight: 600;

	margin-bottom: 10px ;

	max-width: 200px;
}

.btn:hover{
	background: #faf7f6 ;
	color: #74868a ;
	border: 3px solid #74868a;

	

}


#main-servicios{
	width: 100%;
}


#servicios{
	padding: 20px;
	background-image: url("../img/bg-services.png");
	background-repeat: repeat;
	background-size: auto;
	background-position: center;
	background-color: #657174;
	display: block;
	width: 100%;
	align-content: center;
	text-align: center;
}

#titulo h2{
	text-align: center;
	margin-bottom: 3px;
	color: #faf7f6 ;
}

#titulo{
	text-align: center;
	align-content: center;
	color: #faf7f6 ;
	display: block;
} 

#titulo #linea{

	width: 15%;
	margin:  auto;
	border-bottom: 3px solid #fff;
}




.card{

	width: 300px;
	height: auto;
	
	overflow: hidden;
	border-radius: 8px;
	margin: 30px auto;
	background: #faf7f6;
	line-height: 1.5;
	 box-shadow: 5px 5px 5px #000;


}

.card  h3, p{
	margin-bottom: 10px;

}

.card img{

	width: 100%;
	height: auto;
}


#card-text{
	padding: 30px;
	text-align: left;
	float: left;

}

.servicios-btn{

	margin-bottom: 20px;
	width: 50%;
	padding: 5px;
}





@media screen and (min-width:1024px){
	#servicios{
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
	}
	#titulo{
		width: 100%;
		height: auto;
		text-align: center;
	}
	.card{
		margin: 10px;
		flex-grow: 1;
	}
	
}